/* c1001f */

*{
  margin:0px;
  padding:0px;
  color:black;
  font-family:tahoma, franklin;
  font-size:13px;
  border-collapse:collapse;
}

body{
  background:url(img/) repeat top left white;
  text-align:center;
}

#karkas{
  width:900px;
  text-align:left;
  margin:0px auto;
}

/**
 * Content Header Block
 * 
 * #head
 * .right
 * #bp-block-navi
 * .active
 * .left
 * .grey
 * #bp-block-about
 * .center
 * #content         
 */   

#head{
  height:300px;
}
    
.right{
  width:300px;
  float:right;
}

.left{
  width:300px;
  float:left;
}

.grey{
  margin:25px;
  background-color:#dededc;
  height:210px;
  padding:20px;
}

.center{
  margin-left:300px;
  margin-right:300px;
  width:300px;
}

/* end of content header block */

/**
 * Content Footer Block   
 * 
 * #footer
 * #footerText         
 */  
 
#footer{
  margin-top:20px;
  border-top:1px solid #cdcdcd;
  clear:both;
  text-align:center;
}

#footer img{
  margin:15px;
  position:relative;
}

#footer-text{
  margin-bottom:25px;
  font-size:10px;
  color:#5d5d5d;
}

/* end of content footer block */

/*
* Content PrevNext Block
* 
* #port-bottom
* .portrait-white-border
* .portrait-image
* .portrait-name
* .portrait-name-text
* .red-footer-slogan                  
*/ 

#port-bottom{
  clear:both;
}

.portrait-white-border{
  padding:25px;
  width:250px;
  float:left;
}

.portrait-image{
  position:relative;
}

.portrait-name{
  position:absolute;
  bottom:0px;
  min-height:52px;
  width:100%;
  background:url(img/portrait_text_bg_gray.png) repeat top left transparent;
}

.portrait-name-text{
  padding:10px;
  
}

.portrait-name-text a{
  display:block;
  min-height:22px;
  text-decoration:none;
  font-size:18px;
  padding-left:45px;  
  background:url(img/pic_port_black.gif) no-repeat center left transparent;
}

.portrait-name-text a:hover{
  text-decoration:none;
  background:url(img/pic_port_red.gif) no-repeat center left transparent;
  font-size:17px;
  /* margin-top: 3px; */
  
}

.portrait-name-text a span{
  font-size:13px !important;
}

.red-footer-slogan{
  background:url(img/asoby_footer_red.gif) no-repeat top left transparent;
  float:left;
  width:300px;
  height:325px;
}

/* end of Content PrevNext Block */

/**
 * Content CATegory
 * 
 * .portrait-white-border                     
 * .portrait-red-border
 * .portrait-image
 * .portrait-name
 * .portrait-name-text
 * .grey-footer-slogan
 * #text-more   
 */

.portrait-white-border{
  padding:25px;
  width:250px;
  float:left;
}

.portrait-red-border{
  background-color:#C1001F;
  padding:25px;
  width:250px;
  float:left;
}

.portrait-image{
  position:relative;
}



.portrait-name-text a{
  display:block;
  
  text-decoration:none;
  /*font-size:18px;*/
  font-size:15px;
  padding-left:45px;
  background:url(img/pic_port_black.gif) no-repeat center left transparent;
}



.portrait-name-text a span{
  /*font-size:13px !important;*/
  font-size:11px !important;
}


.grey-footer-slogan{
  background:url(img/footer_slogan.gif) no-repeat top left transparent;
  float:left;
  width:300px;
  height:325px; 
}

.text-more{
  text-align:center;
  margin-top:220px;
}

/* end of Content CATegory */


/* Person Vertical profile page */

.portaitRedBorder{
  background-color:#C1001F;
  padding:25px;
  width:250px;
  float:left;
}

.bp-item-v-portrait-image{
  position:relative;
}

.bp-item-v-portait-white-border{
  padding:25px;
  width:250px;
  float:left;
}

.bp-item-v-portrait-name{
  position:absolute;
  bottom:0px;
  height:60px;
  width:100%;
  background:url(img/portrait_text_bg_gray.png) repeat top left transparent;
}

.bp-item-v-portrait-name-text{
  padding:10px;
}

.bp-item-v-portrait-name-text a{
  display:block;
  min-height:29px;
  text-decoration:none;
  font-size:18px;
  padding-left:45px;
  background:url(img/pic_port_black.gif) no-repeat center left transparent;
}

.bp-item-v-portrait-name-text a:hover{
  text-decoration:none;
  background:url(img/pic_port_red.gif) no-repeat center left transparent;
}

.bp-item-v-portrait-name-text a span{
  font-size:13px !important;
}


.greyFooterSlogan{
  background:url(img/footer_slogan.gif) no-repeat top left transparent;
  float:left;
  width:300px;
  height:325px; /*********300+отступ для футера*******/
}

#textMore{
  text-align:center;
  margin-top:220px;	/*********отступ текста от верхнего края элемента*******/
}


.bp-item-v-red-footer-slogan{
  background:url(img/asoby_footer_red.gif) no-repeat top left transparent;
  float:left;
  width:300px;
  height:325px;
}

.bp-item-v-center-cont{
  margin-left:300px;
  width:300px;
  padding-top:25px;
  padding-left:25px;
  padding-bottom:25px;
}

h2{
  font-size:18px;
  background:url(img/pic_white.gif) no-repeat center left transparent;
  color:white;
  font-weight:normal;
  padding-left:55px;
  min-height:29px;
}

#bp-item-v-port-bottom{
  clear:both;
}

.bp-item-v-profile-name{
  padding-left:25px;
  padding-top:10px;
  padding-bottom:10px;
  background-color:#C1001F;
}

h3{
  color:#C1001F;
  font-size:16px;
  font-weight:bold;
  padding-left:55px;
  padding-bottom:10px;
}

.bp-item-v-profile-content{
  padding:25px;
}

.bp-item-v-portait-with-red-bg{
  background:url(img/portrait_bg_red.gif) repeat-x bottom left transparent;
  padding:25px;
  width:250px;
}


/* Person Horizontal profile page */




.portaitRedBorder{
  background-color:#C1001F;
  padding:25px;
  width:250px;
  float:left;
}

.bp-item-h-portrait-image{
  position:relative;
}

.bp-item-h-portait-white-border{
  padding:25px;
  width:250px;
  float:left;
}

.bp-item-h-portrait-name{
  position:absolute;
  bottom:0px;
  height:60px;
  width:100%;
  background:url(img/portrait_text_bg_gray.png) repeat top left transparent;
}

.bp-item-h-portrait-name-text{
  padding:10px;
}

.bp-item-h-portrait-name-text a{
  display:block;
  min-height:29px;
  text-decoration:none;
  font-size:18px;
  padding-left:45px;
  background:url(img/pic_port_black.gif) no-repeat center left transparent;
}

.bp-item-h-portrait-name-text a:hover{
  text-decoration:none;
  background:url(img/pic_port_red.gif) no-repeat center left transparent;
}

.bp-item-h-portrait-name-text a span{
  font-size:13px !important;
}


.greyFooterSlogan{
  background:url(img/footer_slogan.gif) no-repeat top left transparent;
  float:left;
  width:300px;
  height:325px; /*********300+отступ для футера*******/
}

#textMore{
  text-align:center;
  margin-top:220px;	/*********отступ текста от верхнего края элемента*******/
}


.bp-item-h-red-footer-slogan{
  background:url(img/asoby_footer_red.gif) no-repeat top left transparent;
  float:left;
  width:300px;
  height:325px;
}

#centerCont{
  margin-left:300px;
  width:300px;
  padding-top:25px;
  padding-left:25px;
  padding-bottom:25px;
}

h2{
  font-size:18px;
  background:url(img/pic_white.gif) no-repeat center left transparent;
  color:white;
  font-weight:normal;
  padding-left:55px;
  min-height:29px;
}

#bp-item-h-port-bottom{
  clear:both;
}

.bp-item-h-profile-name{
  padding-left:25px;
  padding-top:10px;
  padding-bottom:10px;
  background-color:#C1001F;
}

h3{
  color:#C1001F;
  font-size:16px;
  font-weight:bold;
  padding-left:55px;
  padding-bottom:10px;
}

.bp-item-h-profile-content{
  padding:25px;
}

.portaitWithRedBg{
  background:url(img/portrait_bg_red.gif) repeat-x bottom left transparent;
  padding:25px;
  width:250px;
}

.bp-item-h-portait-with-red-bg-hor{
  background:url(img/portrait_bg_red.gif) repeat-x top left transparent;
  padding:25px;
  width:250px;
}

.bp-item-h-profile-big-image-horiz{
  clear:both;
  padding-left:25px;
  /*padding-top:45px;*/
  padding-top:25px;
  padding-bottom:25px;
}


/* Persons ABOUT page */



.portaitRedBorder{
  background-color:#C1001F;
  padding:25px;
  width:250px;
  float:left;
}

.portraitImage{
  position:relative;
}

.portaitWhiteBorder{
  padding:25px;
  width:250px;
  float:left;
}

.portraitName{
  position:absolute;
  bottom:0px;
  height:60px;
  width:100%;
  background:url(img/portrait_text_bg_gray.png) repeat top left transparent;
}

.portraitNameText{
  padding:10px;
}

.portraitNameText a{
  display:block;
  min-height:29px;
  text-decoration:none;
  font-size:18px;
  padding-left:45px;
  background:url(img/pic_port_black.gif) no-repeat center left transparent;
}

.portraitNameText a:hover{
  text-decoration:none;
  background:url(img/pic_port_red.gif) no-repeat center left transparent;
}

.portraitNameText a span{
  font-size:13px !important;
}


.greyFooterSlogan{
  background:url(img/footer_slogan.gif) no-repeat top left transparent;
  float:left;
  width:300px;
  height:325px; /*********300+отступ для футера*******/
}

#textMore{
  text-align:center;
  margin-top:220px;	/*********отступ текста от верхнего края элемента*******/
}


.redFooterSlogan{
  background:url(img/asoby_footer_red.gif) no-repeat top left transparent;
  float:left;
  width:300px;
  height:325px;
}

#centerCont{
  margin-left:300px;
  width:300px;
  padding-top:25px;
  padding-left:25px;
  padding-bottom:25px;
}

h2{
  font-size:18px;
  background:url(img/pic_white.gif) no-repeat center left transparent;
  color:white;
  font-weight:normal;
  padding-left:55px;
  min-height:29px;
}

#portBottom{
  clear:both;
}

.profileName{
  padding-left:25px;
  padding-top:10px;
  padding-bottom:10px;
  background-color:#C1001F;
}

h3{
  color:#C1001F;
  font-size:16px;
  font-weight:bold;
  padding-left:55px;
  padding-bottom:10px;
}

.profileContent{
  padding:25px;
}

.portaitWithRedBg{
  background:url(img/portrait_bg_red.gif) repeat-x bottom left transparent;
  padding:25px;
  width:250px;
}

.portaitWithRedBgHor{
  background:url(img/portrait_bg_red.gif) repeat-x top left transparent;
  padding:25px;
  width:250px;
}

.profileBigImageHoriz{
  clear:both;
  padding-left:25px;
  padding-top:45px;
  padding-bottom:25px;
}


#bp-about-red-line{
  background-color:#C1001F;
  height:5px;
}

.bp-about-quote-redleft{
  color:#C1001F;
  font-size:20px;
  font-weight:bold;
  padding:25px;
  float:left;
  border:1px solid green;
}

.bp-about-quote-redright{
  color:#C1001F;
  font-size:20px;
  font-weight:bold;
  padding:25px;
  float:right;
  border:1px solid green;
}

.bp-about-quote{
  clear:both;
}

.bp-about-left-text{
  margin-right:300px;
  padding:25px;
  border:1px solid green;
}

.bp-about-right-text{
  margin-left:300px;
  padding:25px;
  border:1px solid green;
}
