/*
Theme Name: F8 Lite
Theme URI: http://graphpaperpress.com/themes/f8-lite/
Description: A photography & multimedia portfolio theme for Wordpress
Version: 4.2.3.1
Author: Graph Paper Press
Author URI: http://graphpaperpress.com
Tags: black, red, white, one-column, three-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, microformats, editor-style, photoblogging
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

	
/************************* IMPORT GRID & NAV *************************/

@import url(css/screen.css);
@import url(css/nav.css);

	
/************************* DEFAULT STYLES ***************************/
body {
	color:#222;
}

.container-inner {
	width:950px;
	margin:0 auto;
}

h1,h2,h3,h4,h5,h6 {
	color:#000;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color:#ff0000;
}

a {
	color:#ff0000;
	text-decoration:none;
}

a:hover,a:focus {
	color:#222222;
}


	
/************************* RSS ************************************/
#inside-subscribe {
	float:right;
	color:#666;
}

#inside-subscribe a {
	color:#666;
}

#inside-subscribe a:hover {
	color:#000;
}

.feed {
	margin-left:3px;
	padding:0 0 0 19px;
	background:url(images/rss.png) no-repeat 0 50%;
	color:#eee;
}


	
/************************* SLIDESHOW ******************************/
#slideshow-posts {
	margin-bottom:1em;
	height:425px;
	overflow:hidden;
}

ul#slideshow-nav {
	margin: 0.5em 0 10px;
	padding:0;
}

ul#slideshow-nav a {
	padding:5px 9px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	background:#ddd;
	color:#fff;
	margin:0 12px 0 0;
}

ul#slideshow-nav a.activeSlide,ul#slideshow-nav a:hover {
	background:#aaa;
}

.slide {
	padding:12px;
	margin:0;
	display:block;
	overflow:hidden;
	position:relative;
	padding:0;
	width:950px;
	height:425px;
}

.slide .slide-image {
	width:950px;
	float:left;
}

.slide .slide-image img {
	max-width:950px;
}

* html .slide-image img {
	width:950px;
}

.slide .slide-image img.attachment-950x425 {
	margin:0;
	padding:0;
}

.slide .slide-details {
	width:310px;
	float:right;
	margin-left:10px;
	padding:2em;
	background:transparent url(images/overlay.png);
	position:absolute;
	top:20px;
	right:20px;
}

.slide .slide-details h2 {
	text-transform:uppercase;
	border-bottom:1px solid #fff;
	color:#fff;
	font-weight:normal;
	margin:0;
}

.slide .slide-details .description p {
	color:#eee;
	margin-top:10px;
	font-size:1.1em;
}

.slide a {
	color:#fff;
}

.slide a:hover {
	color:#eee;
}


	
/************************* MASTHEAD ************************************/
#masthead {
	background:padding: 0;
	border-top:5px solid #222;
}

#masthead h4 {
	margin:1em 0;
	font-weight:bold;
	text-transform:uppercase;
	width:100%;
}

#masthead h4 a {
	color:#333;
	text-decoration:none;
	float:left;
}

#masthead h4 a:hover {
	color:#000;
}

#masthead span {
	color:#666;
	font-size:.8em;
	text-transform:lowercase;
	font-weight:normal;
}

#masthead span.description {
	float:left;
	margin-left:20px;
	padding-top:.2em;
}

#masthead span.contact {
	float:right;
	line-height:1em;
}

#masthead span.contact a:hover {
	color:#000;
}

img.headerimg {
	margin-bottom:1em;
}

.sf-menu ul {
	list-style:none;
	padding:0;
	margin:0 0 20px;
	background-color:#222;
	font-size:1em;
	height:40px;
}

.sf-menu ul li {
	text-align:left;
	float:left;
	height:40px;
	margin:0;
	background:#222;
	border-right:1px solid #666;
	padding:0;
}

.sf-menu ul li a {
	display:block;
	width:100px;
	padding:7px 5px 22px 7px;
	color:#fff;
	font-size:11px;
	text-decoration:none;
	text-shadow:0 0 0 #000;
}

#navcontainer>.sf-menu ul li a {
	width:auto;
	height:auto;
	height:8px;
}

.sf-menu ul li#active a {
	background:#eee;
	color:#222;
}

.sf-menu ul li a:hover,.sf-menu ul li#active a:hover {
	color:#fff;
	background-color:#000;
}

.sf-menu ul li.home {
	border-left:none;
}

.sf-menu ul li li {
	border:none;
	border-bottom:1px solid #333;
}


	
/******************************** POSTS ************************* */
.post {
	display:block;
	clear:both;
}

.postmetadata {
	color:#ccc;
}

.postmetadata a {
	color:#ccc;
}

.postmetadata a:hover {
	color:#000;
}

.underlined {
	border-bottom:1px solid #000;
	text-transform:uppercase;
}

h6.underlined {
	margin:0 0 1em;
}

.navigation {
	margin:0 auto;
	text-align:center;
	display:block;
	width:300px;
}


.attachment .navigation { width: 950px; }

.nav-image-left,.nav-image-up,.nav-image-right {
	text-align:center;
	float:left;
	width:100px;
	margin:10px 10px 10px 0;
}

.nav-image-left a,.nav-image-up a,.nav-image-right a {
	padding:2px 48%;
	text-decoration:none;
	color:#222;
}

.nav-image-left a:hover,.nav-image-up a:hover,.nav-image-right a:hover {
	color:#000;
}

.nav {
	background:#eee;
	margin:0 0 1em;
}

.nav:hover {
	background:#ccc;
}

.prev a,.next a {
	color:#000;
	text-decoration:none;
	padding:.2em 1em;
}

.nav-interior {
	margin:0;
	padding:0;
	clear:both;
	display:inline;
}

.nav-interior .next {
	color:#000;
	text-decoration:none;
	float:right;
}

.nav-interior .prev {
	color:#000;
	text-decoration:none;
	float:left;
}


	
/* ************************* FOOTER *********************** */
#footer {
	margin:1em 0 0;
	padding:1em;
}

#footer p {
	text-align:center;
	color:#ccc;
}

#footer a {
	color:#666;
}

#footer a:hover {
	color:#333;
}


	
/***************************** FLOATS & IMAGES ***************************** */
.right {
	float:right;
}

.left {
	float:left;
}

.middle {
	margin:0 auto;
	float:left;
}

.clear {
	clear:both;
}

.centered {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.alignleft {
	float:left;
}

.alignright {
	float:right;
}

.thumbnail {
	width:310px;
	height:150px;
	max-width:310px;
	max-height:150px;
	overflow:hidden;
}

.smallattachment {
	margin:0 auto;
	text-align:center;
}

.wp-caption {
	border:1px solid #ddd;
	text-align:center;
	background-color:#f3f3f3;
	padding-top:4px;
	margin:10px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.wp-caption img {
	margin:0;
	padding:0;
	border:0 none;
}

.wp-caption-dd {
	font-size:11px;
	line-height:17px;
	padding:0 4px 5px;
	margin:0;
}

.wp-caption-text {
	color:#888;
	font-size:12px;
	margin:5px;
}

.gallery-caption {
	color:#888;
	font-size:12px;
	margin:0 0 12px;
}

	
/***************************** ARCHIVE *****************************/
h6.archive-header {
	display:block;
	border-bottom:#000 1px solid;
	margin:0 0 .5em;
}

.archive-stack {
	width:100%;
	height:1em;
}


	
/***************************** ETC *****************************/
#filters {
	clear:both;
	height:2em;
	margin-bottom:1em;
}

#filters li {
	float:left;
	margin-right:2em;
}

.prev {
}

.next {
}


	
/* remember to define focus styles! */
:focus {
	outline:0;
}


	
/***************************** SEARCH *****************************/
#search {
	margin:15px 0 0;
}

#search #s {
	background:transparent url(images/search.png) 0 center no-repeat;
	color:#666;
	font-size:.9em;
	margin:0 0 0 10px;
	padding:3px 0 3px 20px;
	width:120px;
}

#search input {
	border:1px solid #ccc;
}

#search #s:hover {
	color:#666;
}

.search-excerpt {
	margin:0;
}


	
/************************* WIDGETS ************************************/
#inside-widgets {
	margin:4em 0;
}

#inside-widgets h6.widgettitle {
	color:#222;
	border-bottom:1px solid #ccc;
	text-transform:uppercase;
	padding:1em .3em .5em;
}

#inside-widgets ul {
	list-style:none;
	margin:0 0 1.6em;
	font-size:1em;
}

#inside-widgets ul li a,ul.txt li {
	color:#222;
	height:1%;
	background:url(images/li.png) no-repeat 0;
	line-height:1.2em;
	border-bottom:1px solid #ccc;
	display:block;
	padding:6px 0 6px 8px;
}

#inside-widgets ul li a:hover,ul.txt li:hover {
	color:#000;
	background-position:1px .8em;
	background:#eee url(images/li.png) no-repeat 3px 10px;
}

#inside-widgets ul li a span,ul.txt li,h4 a span {
	color:#696455;
}

#inside-widgets ul li.active a {
	cursor:default;
	color:white;
}

#inside-widgets ul ul {
	margin:0;
	list-style:none;
}


	
/***************** COMMENTS ********************/
#comments {
	clear:both;
	width:70%;
	margin:0 auto;
}

#comments .navigation {
	padding:0 0 18px;
}

h3#comments-title,h3#reply-title {
	color:#000;
	font-size:20px;
	font-weight:bold;
	margin-bottom:0;
}

h3#comments-title {
	padding:24px 0;
}

.commentlist {
	list-style:none;
	margin:0;
}

.commentlist li.comment {
	border-bottom:1px solid #e7e7e7;
	line-height:24px;
	margin:0 0 24px;
	padding:0 0 0 56px;
	position:relative;
}

.commentlist li:last-child {
	border-bottom:none;
	margin-bottom:0;
}

#comments .comment-body ul,#comments .comment-body ol {
	margin-bottom:18px;
}

#comments .comment-body p:last-child {
	margin-bottom:6px;
}

#comments .comment-body blockquote p:last-child {
	margin-bottom:24px;
}

.commentlist ol {
	list-style:decimal;
}

.commentlist .avatar {
	position:absolute;
	top:4px;
	left:0;
}

.comment-author {
}

.comment-author cite {
	color:#000;
	font-style:normal;
	font-weight:bold;
}

.comment-author .says {
	font-style:italic;
}

.comment-meta {
	font-size:12px;
	margin:0 0 18px;
}

.comment-meta a:link,.comment-meta a:visited {
	color:#888;
	text-decoration:none;
}

.comment-meta a:active,.comment-meta a:hover {
	color:#ff4b33;
}

.commentlist .even {
}

.commentlist .bypostauthor {
}

.reply {
	font-size:12px;
	padding:0 0 24px;
}

.reply a,a.comment-edit-link {
	color:#888;
}

.reply a:hover,a.comment-edit-link:hover {
	color:#ff4b33;
}

.commentlist .children {
	list-style:none;
	margin:0;
}

.commentlist .children li {
	border:none;
	margin:0;
}

.nopassword,.nocomments {
	display:none;
}

#comments .pingback {
	border-bottom:1px solid #e7e7e7;
	margin-bottom:18px;
	padding-bottom:18px;
}

.commentlist li.comment+li.pingback {
	margin-top:-6px;
}

#comments .pingback p {
	color:#888;
	display:block;
	font-size:12px;
	line-height:18px;
	margin:0;
}

#comments .pingback .url {
	font-size:13px;
	font-style:italic;
}


	
/* Comments form */
input[type=submit] {
	color:#333;
}

#respond {
	border-top:1px solid #e7e7e7;
	margin:24px 0;
	overflow:hidden;
	position:relative;
}

#respond p {
	margin:0;
}

#respond .comment-notes {
	margin-bottom:1em;
}

.form-allowed-tags {
	line-height:1em;
}

.children #respond {
	margin:0 48px 0 0;
}

h3#reply-title {
	margin:18px 0;
}

#comments-list #respond {
	margin:0 0 18px;
}

#comments-list ul #respond {
	margin:0;
}

#cancel-comment-reply-link {
	font-size:12px;
	font-weight:normal;
	line-height:18px;
}

#respond .required {
	color:#ff4b33;
	font-weight:bold;
}

#respond label {
	color:#888;
	font-size:12px;
}

#respond input {
	margin:0 0 9px;
	width:30%;
	display:block;
}

#respond textarea {
	width:98%;
}

#respond .form-allowed-tags {
	color:#888;
	font-size:12px;
	line-height:18px;
}

#respond .form-allowed-tags code {
	font-size:11px;
}

#respond .form-submit {
	margin:12px 0;
}

#respond .form-submit input {
	background:#222222;
	border:medium none;
	color:#FFFFFF;
	cursor:pointer;
	font-size:18px;
	padding:10px 16px;
	width:auto;
}

#respond .form-submit input:hover {
	background: #000
}
	
/***************** WP STUFF ********************/
.bypostauthor {
}

.sticky {
	background:#f2f7fc;
	border-top:4px solid #000;
	margin-left:-20px;
	margin-right:-20px;
	padding:18px 20px;
}