@media screen and (min-width: 1200px) {
	#page, .category-budzma-tut footer .wrapper {
		width: 1200px;
	}
}

@media screen and (min-width: 600px) and (max-width: 980px) {
	.category-budzma-tut {
		background-image: none;
	}
	#page, .category-budzma-tut footer .wrapper {
		width: 100%;
	}
	.category-budzma-tut #content .posts-wrapper {
		width: 95%;
	}
	#banner, .category-budzma-tut #tv,
	.category-budzma-tut menu .description {
		display: none;
	}
}

@media screen and (max-width: 930px) {
	#page, .category-budzma-tut footer .wrapper {
		width: 100%;
	}
	#banner, menu .description, .category-budzma-tut #tv,
	.category-budzma-tut menu .description {
		display: none;
	}
	menu ul {
		float: left;
	}
	#content, #aside {
		width: 100%;
	}
	#aside .blocks li.widget {
		width: 95%;
	}
	#aside .blocks li.widget .block-wrapper {
		width: 100%;
	}
}

@media screen and (max-device-width: 480px) {
	html {
		-webkit-text-size-adjust: none;
	}
	#page, .category-budzma-tut footer .wrapper {
		width: 100%;
	}
	#banner, menu .description,
	.category-budzma-tut menu .description {
		display: none;
	}
}