/*
Theme Name: Budzma.org-2012
Theme URI: http://site03.ru
Description: Theme for site Budzma.org
Version 1.0
Author: WWW
Author URI: http://site03.ru


*/

@charset "utf-8";
/* CSS Document */

*{
padding:0;
margin:0;
}

body {
font: 12px/17px Verdana, Arial, Tahoma;
color: #000; 
background:#e0e0e0 url(img/background.jpg) 50% 0 repeat-y; /* цвет фона и цвет того что на сайте */
max-width:100%;
}


a {
	outline: none;
	text-decoration: none;
    color: #000;
}

a:hover {
    color: #ca0814;
	text-decoration: none;
}

p {
	margin: 10px 0 0 0;
}
h2 {
font:bold 14px/25px Arial;
}
h1 {
font:bold 16px/25px Arial;
}
img {
border:none;
}

input {
vertical-align: middle;
}
hr {
    float: left; 
    overflow: hidden;   
    width: 100%;
    margin: 12px 0;
    
    height: 2px;
    background: #ef8885;
    border: none;
}

/* Галоуны блок main */


#main {
width:1215px; /* Ширина контента- регулирует отступы по краям 2px */
margin: 0 auto;
background:#fff;

/* min-height: 1300px;    закраска белым при разрешении 1024x */
}

#header1 {
font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
color: white;
background: #000;
height: 24px; /* Visota bloka header1 */
padding: 5px 0 0 0;
}

#otstyp-header{
height:28px;/* зазор между черным і серым */
background:#f6f6f6;
}

#headertop {
position: relative; /* position: fixed; - фиксируется вверху */
margin-bottom: -28px; /* для position: fixed; margin убрать */
/* top: 0; включить если нужно спрятать чёрное меню для админов */
 
height: 28px; /* Visota bloka headertop */
z-index: 200;
background: #efeeee; /* #e2e2e2; */
width: 100%;
border-bottom: #d4d2d2 solid 1px;
/* border-bottom: #d4d2d2 solid 1px; */
}

#headertop-in{

margin: 0 auto;
max-width:1215px;
font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
color:#000;
padding: 5px 0 0 0;
}

   .logo-mini {
   margin-left:6px;
   float:left;
   }
   
   #headertop span {
   float:left;
   padding: 3px 0 0 10px;
   font: 12px Verdana, Arial, Helvetica, sans-serif;
   } 	
	
   .search-main { 
   
   margin-right:2px;
   float:right;     
   color:#000000;
      
   }
   
   .search-txt{
	   width: 122px;
	   height: 18px;
	   border:none;
	   margin-right:-4px;	   
   }  
      
  
     #enter { 
   float:right;
   width:75px;
   height:18px;
   background: #c2c1c1 url(img/enter.png) no-repeat;
   color:white; 
   padding-left: 6px;
   margin-right:17px; 
     
   }
   
       #reg { 
   float:right;
   width:75px;
   height:18px;
   background: #c2c1c1 url(img/reg.png) no-repeat;
   color:white; 
   padding-left: 21px;
   margin-right:14px;   
   }
    
     
#header2{

vertical-align: middle;

background:#f6f6f6;
padding-top:8px;

}  
#banner {
   /* height: 90px; */
   width: 100%;
   background: #efeeee;

}


.slideshoy2 {
    position: relative;
    z-index: 11;
    background-color: #fff;
    }  


#banner-radio{

float: right;
margin-top: 3px;
background:#fff;
position: relative;
z-index: 12;
}

  
#banner-2 {
float: left;
width: 804px;
}


#radio {
    float:right;
    width: 358px;
    /* background:#f8efd0; */
    margin-right: 4px;    	
}

#radio-sidebar {
    float:right;
    width: 358px;
       	
}


#radio-list{
    width: 358px;
    height: 25px;
	
	
}


#block-logo-menu2 {

	padding-top:10px;
	background:#f6f6f6;
    height: 92px;
    
}
/* logo */
#logo {
	float:left;
	overflow:hidden;
	padding-left:5px;	
}
/* menu1 */
#b-menu1{
	width: 1037px;    
    height: 43px; 
	background:#ca0813 url(img/menu.png) repeat-x;
	float:right;
	margin-top:9px;	
		}
        
#budzma2{	 
	  float:left; 
	 overflow:hidden;
	 padding:10px 14px 0 20px; /* padding: 8px 14px 0 20px; - старые размеры*/     
 		}
         	
 #budzma2-2{	 
	float:left; 	
	padding: 0 0 0 10px; 
     
 		}      
  
#menu1 {

padding: 15px 25px 0 0;
font: 15px Arial, Geneva, Verdana, sans-serif;
color:#fff;
float: right;

	}

    
	#menu1 a{
		color:#fff;
	}
    	
	#menu1 a:hover{
		color:#fff;
		text-decoration:underline;
	}	 	
	#menu1 li {
	display: inline;
	margin-right:3px;
	padding-left:14px;
	background-image:url(img/punkt.jpg);
	background-repeat:no-repeat;
	background-position: -1px 3px;  
     
    }	
    
	#menu1 li:first-child {
	display: inline;
	margin-right:3px;
	padding-left:14px;
	background-image:none;	
	}
    /* add */   
   			   
                #menu1 li ul #menu-header-menu1-sub{
					position: absolute;  /*Подменю позиционируются абсолютно */
					display: none; /* Скрываем подменю */				
					background:#b5121c;
                    margin: 17px 0 0 204px; /* отстуа блока подменю */
                    padding: 12px 6px 10px 6px;
                    z-index: 19;
				   }
				   
				  
				   
				   #menu1 li:hover ul #menu-header-menu1-sub { 
					display: block; /* При выделении пункта курсором мыши отображается подменю */
				   }
                   #menu1 li ul #menu-header-menu1-sub li{
                    display: block;
                    padding:3px 0;               	
                	margin-right:3px;
                	padding-left:14px;
                	background-image:url(img/punkt.jpg);
                	background-repeat:no-repeat;
                	background-position: -1px 6px;    
                    }
      .float-left{
        float:left;
      }              
      .float-right{
        float: right;
      }               	
    
/* #gor-menu2 */ 
#menu2{

	float:right;
	overflow:hidden;
    
	}
#menu2-2{ 
	width:1037px;
	height:40px;   
    	}
  
    
    #menu2-2 li{
    padding: 11px 0 0 0;
    font: 16px Arial, Geneva, Verdana, sans-serif;	
	color:#b4141d;    
    
    }
    
	#menu2-2 a{
		color:#b4141d;
	}
	
	#menu2-2 a:hover{
		color:#b4141d;
		text-decoration:underline;
	}
	#menu2-2 li{

	float:left;
	overflow:hidden;
	margin-right: 8px;
	}
	
.block{
	padding: 12px 10px 10px 10px;
	background:#fff;
    
}

 


 .single-post{
    float:left;
    width: 800px;
    padding: 10px;        
 }
 
 .single-post hr{
           
    width: 100%;
    margin: 10px 0 5px 0;     
    background-color:#d2d2d2;
    border: none;       
    height: 1px;
    
 }
 
 .single-post a{
        text-decoration: underline;
        color: #ca0813;
    }
 .single-post a:hover{
        text-decoration: none;
    }
 .single-post h4{
    font: bold 14px Verdana;
    padding: 8px 0 2px 0;
 }
    
    .entry-title {
			color: #333;			
			font: 20px/24px Verdana;
            padding: 2px 0 6px 0;
           
		}        
        
        .entry-meta{
            
        }
        .entry-meta a{
           color: #999;
        } 
        .entry-meta p {
					color: #999;
					font: 10px/12px Verdana;
					margin: 1px 0;
				}
    .soderzhanie{ 
        width: 800px;
        margin-top: 30px;
        margin-bottom: 4px;
        
    }


.soderzhanie h4 { 
        font-size: 14px;
	font-weight: bold;
        line-height: 18px;
    }

.soderzhanie h3 { 
        font-size: 17px;
	font-weight: normal;
	color: #6d6d70;
	 line-height: 20px;
	 margin: 15px 0 15px 0;    
    }

.soderzhanie h2{ 
        font-size: 20px;
	font-weight: bold;
        line-height: 24px;
    }

.soderzhanie h1{ 
        font-size: 24px;
	font-weight: bold;
        line-height: 30px;
    }












      .artikyls{
        margin: 34px 0 8px 0;
        width: 100%;
        float: left;
        
      }
        .artikyls h3 {
            margin: 0 0 7px 0;
        }
        .artikyls li{
            list-style-type: none;
            font-weight: bold;
            padding: 0 0 5px 0;
            
        }
        
/* excerpt */    

.excerp-post{

    float: left;
    padding-bottom: 12px;
}
.page-header h2 {

			color: #ca0814;
			font: bold 18px/22px Verdana;
		}
.entry-title-excerpt {

    color: #000; font: bold 14px Verdana;
    margin: 20px 0 6px 0;    
     }
     
    .entry-title-excerpt a { 
        color: #000; 
        }
.soderzhanie2{
        margin-top: 15px;
        margin-bottom: 4px;
    }
  .soderzhanie2 img{
    float: left;
    margin-right: 12px;
  } 
  
 
  .soderzhanie2-text {
   padding: 10px 0;
   
  } 
.slideshoy1{

    float:left;
    width: 804px;
    height: 345px;
    margin: 0 0 7px 7px;
    
}
    .slideimage{
      float:left;  
    }
    .slideposts{
        float: right;
        width:455px;
        height:74px;
        margin-bottom: 6px; 
           
        background: #efeeee;   
        
    }
    
    .slideposts h2 {
        font: 14px Verdana;
        color:#010101;  
        padding: 6px;  
    }
    .slideposts h2 a{

        font: 14px Verdana;
        color:#010101;
        }
    .slideposts h2 a:hover{

        font: 14px Verdana;
        color:#ca0813;
        }
.slideshoy2{

    float:left;
    margin-top: 20px;
    margin-left: 6px;
    
}
.slideshoy2 a{
    font: bold 13px Verdana;
    color:#000;
}
.slideshoy2 a:hover{
    
    color:#ca0813;
}
    .td-shoy2{
        margin: 0 14px 0 0;
        float:left;
        width:150px;
       
    }
    .slideshoy2 h2 a{
        color:#9d9d9d;
        font: 10px Verdana;              
    }    
    
    .td-shoy2 h2 a:hover{
        color:#ca0813;  
        font: 10px Verdana;          
    }   
 
 /* табулятор */   
.main-cont{ 
    
    position: relative;
    z-index: 13;
    background: #fff;
    width: 786px;
    float:left;
    margin: 0 0 0 13px;   

} 

.postwrap{
    margin: 5px 0;
    
}

.main-cont .entry {
    margin:16px 0 9px 3px;
}

.main-cont .post_thumbnail {
    
    width:  82px;    
    margin-right: 12px;
    
    
}

.main-cont h2 {
        
    font:bold 14px/18px Arial;
}


.main-cont .excerpt a {
 color: #ca0814;  
}

.main-cont .excerpt p {
    
    min-height: 76px;
}

#all-news{
           margin-top: 0; 
           margin-bottom: 0;           
        }
        
        #all-news a {
            color: #888;
            font-family:"Helvetica Neue",Arial;
        }
        #all-news a:hover{
         text-decoration:underline;   
        }

.tabs { overflow:hidden; margin:0 auto; zoom:1; padding:1px; position:relative; }
.tabs dt { border:1px solid #d4d2d2; border-bottom:none; font:13px Verdana, Arial, Helvetica, sans-serif; font-weight: bold; color: #4a4949; position: relative; float:left; height:28px; line-height:2; background:#efeeee; padding:0 1em; position:relative; margin:0 0 0 -1px; cursor:pointer; border-radius:1px 1px 0 0;}
.tabs dt:hover { background-color:#ffffff; text-decoration:none;}
.tabs dt.selected { background:#fff; z-index:3; cursor:auto; color:#ca0814; text-decoration:none; }
.tabs dd { background:#fff; display:none; float:right; width: 785px; margin:28px 0 0 -100%; position:relative; z-index:2; border-radius:1px 1px 1px 1px;}
.tabs dd.selected { display:block; }
.tabs .tab-content { border:1px solid #d4d2d2; padding:10px; border-radius:1px 1px 1px 1px;}

.readmorecontent {
	text-align: right;
	}

.content-tab img{
    float: left;
    margin-right: 12px;    
    min-width: 100px;
  } 


/* ? */
    .main-cont-page{    
    width: 786px;
    float:left;    
    padding: 4px;    
    border:1px solid #000;
} 

        .img-left{
            float:left;
        }
     .tabbed{
       list-style-type: none;
       padding: 0 12px;
     } 
          
      .tabbed ul{
       list-style-type: none;
     }  
     
     /* меню ul */
     
       
     .tw-tabbed-nav{
            float:left;          
            height: 27px;        
        
     }
   
     
     .tw-tabbed-nav li{
                background:#ebedec ;
                height: 27px;
                float:left;                
                font:bold 14px/25px Arial;
                color:#454545;  
                margin-right: 5px;
                margin-left: 5px;
                
     }
     .tw-tabbed-nav li a{
                padding: 0 10px;                  
                }    
     
            
        
            
       
            
      /* фон посещённой ссылки */      

 
            
       .tw-tabbed-nav li a:hover{
                                
                color:#fff;                 
            }         
            

     
     /* заголовок поста */
     .tabbed .post-title{
        font: bold 12px/18px Verdana;
              
        
     }
     
     .tabbed ul p{ 
        margin-bottom: 26px;
     } 
     
                    
  
        .post-main{
        padding: 16px 10px;
        } 
        .post-main a:hover{
        text-decoration: underline;
        }    
        
        .post-main p{
        padding: 4px 0;
        }
        .post-main h2{
            margin: 3px 0 0 0;
        }
        .post-main h2 a{
            font: bold 12px Verdana;
            color: #000;
        }
 
 
    
   
   
 .sidebar{
    width: 358px;
    float:right; 
    background:#fff;	
        }
 
  .sidebar li {
    list-style-type: none;
    }
 /* sidebar3 заголовок */     
 .sidebar h2{ 
      
    background:#ca0814;
    background-image: url(img/punkt.jpg);
    background-repeat: no-repeat;
    background-position: 6px center;
    color:#fff;
    padding:3px 20px;
    font:bold 14px Arial;
    width: 50px;
    margin-top: 20px; /* отступ перед заголовком */
    
    
 } 
 

 .sidebar{
        padding: 9px 4px 0 4px;
        
    }
    
    .sidebar ul{
        list-style-type: none;        
        
    }
   
    .sidebar ul li a{
        font: 13px Arial;
        color: #000;
        text-decoration: none;
        
        }
        .sidebar ul li a:hover{        
        color: #ca0813;        
        }  
    
  
 .sidebar #categoryposts-8 h2{
    background:#c2c1c1;
    background-image: url(img/punkt1.jpg);
    background-repeat: no-repeat;
    background-position: 6px center;
    color:#fff;
    padding:3px 30px;
    font:bold 14px Arial;   
    width: 294px;
    margin-left: -4px;
    margin-top: -8px; 
     }  
 
   #categoryposts-8 ul{
    padding: 4px;    
   }   
   
   /* иконки в категории */
   .sam_title{
    float: left;
   }
   
   .after_title_photo{
    float: left;
   } 
   .after_title_photo img {
    margin: 2px 0 0 7px;
   }      
      
   .after_title {
    
   }   
   
   .after_title img {
    margin: 2px 0 0 7px;
   }     
   
  /* иконки в сайдбаре */ 
  .cat-post-item span{
   
    display: inline-block;
  }
  
  .after_title_photo_s {
    float: left;
    margin-right: 6px;
    
    
  }
  
  .img_2{
    height: 14px;
    width: 32px;
    
  }
   
  .cat-post-item{
    margin: 12px 0;
  } 
   
   /* end Апошния навины */
   
   /*radio*/
   .radio-sidebar{
    height: 153px;
   }
  
  .afisha-vidget{
    margin-top: -23px;
  }
   
  /* sidebar2-afisha  заголовок для афиши */
 .eventsListWidget h2{  
      
    background:#ca0814;
    background-image: url(img/punkt.jpg);
    background-repeat: no-repeat;
    background-position: 6px center;
    color:#fff;
    padding:3px 20px;
    font:bold 14px Arial;
    width: 50px;   
 } 
       
    .upcoming{        
        border:1px solid #d4d2d2;        
        padding: 7px 5px 30px 22px;        
    }      
   
    .upcoming li{
        margin: 6px 0;
        list-style-type: square;        
        color: #ca0814;       
    }  
         
 

.when{
  height: 15px; 
  background: #fff;
  font-weight: 700;
  float: left; 
}

.tire{
   position: relative; 
   float: left; 
   background: #fff;
   padding: 0 0 0 4px;
   font-weight: 700;
}

.event-budzma{
    float: left;
    padding: 0 5px 0 3px;
    margin-top: 3px;
    position: relative;
}

.event {
  /*  position: relative; */    
    text-decoration: underline;     
    margin-bottom: -12px;   
    color: #000;   
}

.event a{  
background: #fff;
color: #000;
}

.event:hover{    
 text-decoration: none; 
}
/* конец убираем время с виджета */     
                
     /* усе падзеи */
        .dig-in{
            text-align: right;
            margin-top: -26px;
            margin-left: 24px;
            margin-right: 24px;
            font-weight: bold;   
            margin-bottom: 12px;         
        }
        
        /* Усе навiны */
        
        #all_news { margin-top:4px;}             
        
        #all_news a {
            color: #888;
            font-family:"Helvetica Neue",Arial;
        }
        #all_news a:hover{
         text-decoration:underline;   
        }     
        
        
 
 /* заголовок для видео */
 .widget_text h2{ 
      
    background:#ca0814;
    background-image: url(img/punkt.jpg);
    background-repeat: no-repeat;
    background-position: 6px center;
    color:#fff;
    padding:3px 20px;
    font:bold 14px Arial;
    width: 50px;
    margin-top: 20px; /* отступ перед заголовком */   
    
 }      
 
 /* воблака */
 
 #vobloka{
 margin-top: 8px;
 
 }
        
 /* Виджеты которые идут за Афишей для их обводки рамкой необходимо добавить внизу стили, которые идут после заголовка H2 .textwidget_after  */
 
 .textwidget_after{
        
        border:1px solid #d4d2d2;
        padding: 12px 8px 16px 8px;  
        /* min-height: 228px; */          
    } 
    .textwidget_after a{
    color:#333;
    }
 .textwidget{
        
        border:1px solid #d4d2d2;
        padding: 8px 8px 24px 8px;  
        /* min-height: 228px; */     
        
    } 
    /* Усё видэа */
     .all_n {
         margin-top: -22px;
        }
        .all_n a {
            color: #888;
            font-family:"Helvetica Neue",Arial;
            
        }
        .all_n a:hover{
         text-decoration:underline;   
        }      
 
        
 
 /* table cool   */
   /* Картинки внутри таблицы */
    .float-img{
        float:left; 
        position: relative;
        margin: 0 5px 2px 0; /* margin: 0 5px 5px 0;  */     
    }   
   
      
  /* .float-img .message{
    display: none;
    font: 14px Verdana;
    color: #fff;
    text-align: center;
    position:absolute;   
    margin-top: -30%;
    height: 27%; 
    padding: 0 3%;
    padding-top: 6px;
    width: 94%;
    background: #000;
    opacity: 0.5;        
  }  
  
  
     .float-img:hover .message{
    display: block;    
    } 
 */
 
     
   /* end Картинки внутри таблицы */    
 
/* table 1 site03.ru wmsharp@mail.ru*/
#table11 {
    background:#ca0814; 
    padding: 8px 8px 3px 8px;
    float: left;
    margin-left: 11px;
}    
.block11{    
    width: 642px;
    float: left;   
}

.block22{    
    
    width: 330px;
    float: left; 
    
 }
 
 .block33{    
    
    width: 202px;
    float: left; 
    
 }  
 
.left{
    float: left;
} 
.right{
  float: right;  
 } 
 
/* index foto */ 
 

#table11 li {float:left; position:relative; display:inline-block; width:300px; height:300px; padding:10px; background:#fff;}

#table11 .float-img div {text-align: center; position:absolute;height:0; width:94%; background:rgba(0,0,0,.45); overflow:hidden;bottom:0;left:0; padding: 0 3%;-webkit-transition:height 1s;-moz-transition:height 1s;-o-transition:height 1s;-ms-transition:height 1s; transition:height 1s;color:#fff; font: 14px/19px Verdana;}
#table11 .float-img:hover div {height:30%;}

#table11 canvas {opacity:1; position:absolute; top:0; left:0; -webkit-transition:opacity 1s .2s; -moz-transition:opacity 1s .2s; -o-transition:opacity 1s .2s; -ms-transition:opacity 1s .2s; transition:opacity 1s .2s;}
#table11 .float-img:hover canvas {opacity:0;}
#table11 p {clear:left; float:right; margin-top:10px;margin-right:20px;}
#table11 p a {color:#909090;-webkit-transition:color .6s;-moz-transition:color .6s;-o-transition:color .6s;-ms-transition:color .6s;transition:color .6s;}
#table11 p a:hover {color:#eb5cf4;}


 /* .block2 */  
   
 #block2{
	padding: 0 10px;
	
} 
  
.footbar{
    width: 272px;
    float: left;
    margin-right: 26px;
    float: left;
    }    
.footbar-soc{
    width: 272px;   
    float: left;
    margin-right: 26px;     
}    
  .spis2{
      list-style-type: none;        
    }    
    .spis2 ul{
        list-style-type: none; 
        margin: 5px 0 3px 0; 
        padding: 4px 17px;      
        
    }
   
    .spis2 ul li {
        margin-bottom:7px;
        font: 12px Arial;
        color: #595857;
        text-decoration: none;
        
        }
        .all a{
        font: 12px Arial;
        color: #ca0813;
        text-decoration: none;
        
        }
        .all a:hover{        
        color: #ca0813;
        text-decoration: underline;
        
        }
        
 .footbar h2{
    background:#c2c1c1;
    background-image: url(img/punkt1.jpg);
    background-repeat: no-repeat;
    background-position: 6px center;
    color:#fff;
    padding:3px 30px;
    font:bold 14px Arial;
    
 }
   
.foot-img{
float: left;
margin-top: 5px;
margin-left: 1px;
margin-bottom: 10px;
    width: 100%;
    height: 35px;
 background: url(img/footlogo.gif) repeat-x; 
   
 }  
   		
.menu3{
	
	list-style:none;
		
	}		
	.menu3 li{
		float:left;
		overflow:hidden;
		
	}
    .menu3 li a{
		font: 10px Verdana, Geneva, sans-serif;
		color:#000;
		text-decoration:underline; 
	}
	
	.menu3 li a:hover{
		font: 10px Verdana, Geneva, sans-serif;
		color:#000;
		text-decoration:none;
	}
		
#design{
        
		font: 10px Verdana, Geneva, sans-serif;
		color:#000;
		
	}	
#footc{
 float:left;   
}    
.add{
    float: left;
    padding: 4px 8px 19px 18px;
    
}	
.perexod{
    float: right;
    padding: 4px 13px 0 0;
	background:#fff;
	list-style:none;
}		
	

.navigator-3w{
   width: 100%; 
   /* margin-top: 80px; */
   font:14px/18px Arial;
   float:left;
   margin-top: 15px;
} 

span.pages{
    padding: 0 13px;
} 
.current {
    padding: 0 4px;
    font-weight: 600;
}

.larger{
    padding: 0 2px;
} 

.smaller {
    padding: 0 2px;
}  
  
.rss{
    float: right;
    margin-top: -19px;
}  

.rss img {
    margin-bottom: -4px;
}
   
/* Alignment картинки в single в тексте статьи */
.alignleft {
	display: inline; 
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.taxo{
    width: 100%;
    float:left;
}

.entry-social{
padding: 6px 0;
width: 100%;
float:left;
}
  .entry-social h3{
    padding-bottom: 4px;
  }  
  
#vk_like{
 float:left;   
}
#googleplus{
 float:left;
 margin: 0;
}
/*#facebook_like {
 position: relative; 
 overflow: hidden; 
 z-index: 100;  
}
*/
   
/* комментарии */
#vkontakte{
    min-height: 200px;    
}

.tabs-s {overflow:hidden; margin:5px auto; zoom:1; padding:1px; position:relative; float: left;  }
.tabs-s dt {border:1px solid #adbccb; border-bottom:none; border-radius: 2px; font:13px Verdana, Arial, Helvetica, sans-serif; font-weight: bold; color: #4a4949; position: relative; float:left; height:28px; line-height:2; background:#ffffff; padding:0 1em; position:relative; margin:0 0 0 -1px; cursor:pointer; }
.tabs-s dt:hover {background-color:#edf2f6; text-decoration:none;}
.tabs-s dt.selected {background:#dae2e8; z-index:3; cursor:auto; color:#45688e; text-decoration:none; }
.tabs-s dd { background:#fff; display:none; float:right; width: 785px; margin:28px 0 0 -100%; position:relative; z-index:2; }
.tabs-s dd.selected { display:block; }
.tabs-s .tab-content { padding:0 10px 10px 0; margin-left: -16px }




.commentlist{  
  padding: 14px 20px;  
}  

li.comment{
    padding-bottom: 14px;
}

.comment-meta a{
  color: grey;  
} 
/* комментарии ответы */
   .commentlist .children{
    margin: 10px 0 0 15px;
   }



/* end комментарии */
 
/* gallery overview */ 

.ngg-galleryoverview img {
    float: left;
    padding: 5px;    
}





.lof-slidecontent{
        position:relative;
	overflow:hidden;
	border:#fff solid 1px;
	width:804px;
	height:343px;
}
.lof-slidecontent .preload{
	height:100%;
	width:100%;
	background:#FFF;
	position:absolute;
	top:0;
	left:0;
	z-index:100000;
	color:#FFF;
	text-align:center
}
.lof-slidecontent .preload div{
	height:100%;
	width:100%;
	background:transparent url(images/load-indicator.gif) no-repeat scroll 50% 50%;
}
/* main flash */
.lof-main-wapper{
	margin-right:auto;
	overflow:hidden;
	background:transparent url(images/load-indicator.gif) no-repeat scroll 50% 50%;
	padding:0px;
	height:100%;
	width:804px;
	position:relative;
	
}

.lof-main-wapper .lof-main-item{
	overflow:hidden;
	padding:0px;
	margin:0px;
	
}
.lof-main-wapper {
	padding:0px;	
	
}


.lof-main-item img{
	height:254px;
	padding:0px;	
	position:absolute;
border:#fff solid 1px;
}



.lof-main-item-desc{
	z-index:999999;
	position:absolute;
	top:270px;
	left:0px;
	width:804px;
	background: #fff;
	font-size: 13px;
	/* filter:0.7(opacity:60) */
}
.lof-main-item-desc p{
       font-size: 13px;
	color:#000;
	margin:0 0px;
	padding: 0px 8px 0px 8px;
}


.lof-main-item-desc p a{
	font-size: 13px;
	color:#000;
	
}


.lof-main-item-desc p a:hover{
	font-size: 13px;
	color:#c40b16;
	text-decoration:none;
}



.lof-main-item-desc h3 a{
	color:#000;	
	margin:0;
	font-size:19px;
	padding: 20px 8px 0px 8px;
	font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
}
.lof-main-item-desc h3 a:hover{
	color:#FF6;
	text-decoration:none;


}


/* item navigator */
ul.lof-navigator{
	top:0;
	padding:0;
	margin:0;
	position:absolute;
	width:100%;
        
}

ul.lof-navigator li{
        cursor:hand; 
	cursor:pointer;
	list-style:none;
	width:100%;
        padding: 0;
	margin:0;	
	overflow:hidden;

}
.lof-navigator-outer{
	position:absolute;
	right:0;
	top:00px;
	z-index:65;
	height:265px;
	width:399px;
	overflow:hidden;
	color:#FFF
}
.lof-navigator li.active{
	background:url(images/arrow-bg1.png) no-repeat scroll left center; 
	color:#FFF;
	font-weight:normal;
}
.lof-navigator li:hover{
	font-weight:normal;	
}


.lof-navigator li h3{
	color: #000;
	font-size: 15px;
	padding: 20px 15px 0 0 !important;
	margin:0;
	font-weight:normal;

}
.lof-navigator li div{
	background:url(images/transparent_bg1.png);
	color:#000;
	height:100%;
	position:relative;
	margin-left:15px;
	padding-left:15px;
	border-top:1px solid #fff;
	font-weight:normal;
}

.lof-navigator li.active div{
	background:url(images/grad-bg1.png);
	color:#FFF;
	font-weight:normal;
}
.lof-navigator li img{
	height:60px;
	width:60px;
	margin:15px 15px 10px 0px;
	float:left;
	padding:3px;
	border:#C5C5C5 solid 1px;
}
.lof-navigator li.active img{
	border:#6C8E5C  solid 1px;
}
.lof-navigator li.active h3{
	color:#FFF;
}

.lof-navigator li.active h3 a{
	color:#FFF;
}


.lof-next{
	position:absolute;
	top:0;
	height:30px;
	background:#F9F9F9;
	display:block;
	width:100%;
}
.lof-previous{
	position:absolute;
	bottom:0;
	height:30px;
	background:#F9F9F9;
	display:block;
	width:100%;
}


.padzahalovak {
        padding: 8px 0 2px 0;
	text-transform: uppercase;
	color: #292e31;
	font-size: 20px;
 }