/* --------------------------------------------------------------------------------------

	Theme Name: BUDZMAorg
	Theme URI: http://budzma.org
	Description: Культурніцкая кампанія "Будзьма беларусамі!"
	Version: 3.0
	Author: Yury K.
	Author URI: http://swagg.by
	

-------------------------------------------------------------------------------------- */


/* ------- This is the CSS Reset ------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre, a, 
abbr, acronym, big, cite, code, del,
dfn, img, ins, kbd, q, s, samp, small,
strike, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ------- HTML5 display-role reset for older browsers ------- */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------- Clearfix ------- */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
.clearfix { display: block; }
/* End hide from IE-mac */


/* --------------------------------------------------------------------------------- */


/* ------- Body ------- */

body {
	width: 1240px;
	margin: 30px auto 40px auto;
	background: #f1f1f1;
	font-size: 14px;
	font-family: 'Lucida Grande', Arial;
	text-align: left;		
}

::selection {
	background: #ca0814; /* Safari */
	color: #fff;
}

::-moz-selection {
	background: #ca0814; /* Firefox */
	color: #fff;
}

#body-list {
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
             box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
             box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;	
}

strong { font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lucida Grande', sans-serif;
}


/* ------- Header ------- */

#header {
	height: 185px;
	margin: 0 auto;
	text-align: center;
	background: #fff;
}

.header-baner {
	width: 785px;
	margin-left: 40px;
	padding: 20px 0 10px 0;
	text-align: center;
	border-top: 1px solid #eee;
	float: left;
	overflow: hidden;	
}

.top-baner {
	margin: -20px 0 20px 0;;
	text-align: center;
}


.header-top {
	min-width: 1200px;
	height: 45px;
	margin: 0 auto;
	text-align: center;
	border-top: 0px solid #eee;
	border-bottom: 0px solid #eee;
	background: #b0141e url("images/menu.png");
}

.main-menu-container {
	width: 1200px;
	height: 44px;
	margin: 0 auto;
	font-family: 'Lucida Grande', sans-serif;
	text-transform: uppercase;	
}

.main-menu {
	float: left;	
	color: #3d3d3d;
	line-height: 46px;
}
.main-menu ul {
	margin: 0;
	list-style: none;
}
.main-menu ul a {
	display: block;
	position: relative;
	color: #FFF;
	text-decoration: none;
}
.main-menu ul a:hover {
	color: #f1c5c7;
	text-decoration: none;
}
.main-menu ul li {
	float: left;
	margin-left: 20px;
	position: relative;
	z-index: 5;
}
.main-menu ul li:hover {
	visibility: inherit;
}
.main-menu ul ul {
	position: absolute;
	top: -9999px;
	width: 160px;
	padding: 5px 15px 8px 15px;
	background: #ffffff;
	line-height: 14px;
	text-align: left;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	border: 1px solid #eee;
	border-top: 0;
	text-transform: none;
	font-weight: normal;
}
.main-menu ul ul li {
	float: none;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.main-menu ul ul li:last-child {
	border: 0;
}
.main-menu ul li:hover ul {
	left: -15px;
	top: 60px;
	z-index: 10;
}
/* Hide sub menus */
.main-menu ul li:hover li ul,
.main-menu ul li li:hover li ul,
.main-menu ul li li li:hover li ul {
	top: -9999px;
}
/* Display sub menus */
.main-menu ul li li:hover ul,
.main-menu ul li li li:hover ul,
.main-menu ul li li li li:hover ul {
	left: 160px;
	top: 0px;
}


.social {
	width: 560px;
	float: right;
	margin: 0 25px 0 0;
	font-size: 14px;
	color: #aaa;
	font-weight: normal;
	text-align: right;
	line-height: 47px;
}
.social a { color: #3d3b3b; text-decoration: none; }
.social a:hover { color: #ca0814; text-decoration: none; }

.about-menu a{	
	margin: -5px 15px 0 0;
	float: left;
	padding-left: 16px;	
}

.about-menu a:hover{	
	background: url('images/dot-menu.png') left no-repeat;
}

.header-bottom {
	width: 1200px;
	height: 140px;
	margin: 5px auto 0 auto;
}

.logo {
	float: left;
	width: 575px;
	height: 72px;
	margin-top: 40px;
	margin-left: 10px;
	background: top left no-repeat;
}
.logo h1 { text-indent: -9999px; }
.logo h1 a { width: 570px; height: 70px; display: block; }



/* ------- Выплываючае меню ------- */

#nav-projects{
	float:left;
	list-style:none;	
	text-align: left;
	line-height: 37px;
}
#nav-projects li{
	float:left;
	position:relative;
	display:block;
	
}
#nav-projects li a{
	width:65px;
	display:block;
	padding: 0 15px;
	color: #3d3b3b;
	text-decoration:none;		
}

#nav-projects li a:hover{
	color: #fff;
}


#nav-projects ul{
	list-style:none;
	position:absolute;
	left:-9999px; 
	opacity:0; 
	margin-top: -1px;
}
#nav-projects ul li{	
	padding-top:0; 
	float:none;
	z-index: 99999;
}
#nav-projects ul a{
	white-space:nowrap; 
	display:block;
	color: #fff;
	width: 215px;
}
#nav-projects li:hover ul{ 
	left:0; 
	opacity:1; 
}
#nav-projects li:hover a{ 
	background:#b0141e;
	text-decoration:none;
}
#nav-projects li:hover ul a{ 
	text-decoration:none;
	
}
#nav-projects li:hover ul li a:hover{ 
	background:#cf0b18;
	text-decoration:none;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}

/* ------- Логін-box ------- */

.login_box {
	float: right;
	margin: 20px 20px 0 0;
	text-align: right;
	line-height: 65px;
	
}

.login_box a { color: #ca0814; text-decoration: none; }
.login_box a:hover { color: #3d3d3d; text-decoration: none; }


/* Form */
#login{
    padding: 0;
	position: relative;
}
.status_login {
    display: none;
	position: absolute;
	left: 0px;
	width: 100%;
	text-align: left;
	font-size: 12px;
	color: #000;
}
.line {
	position: relative;
}
.line i {
	position: absolute;
	left: 10px;
	top: 5px;
	color: #999999;
	font-size: 18px;
}
.line .input_text {
	display: block;
	width: 300px;
	height: 30px;
	margin: 0 0 10px;
	font-size: 13px;
	padding-left: 45px;
	box-shadow: 0 1px rgba(255,255,255,1);
	border: 1px solid #ccc;
	background-color: rgb(255,255,255);	
}
.line .input_text:focus {
	outline: none;
	border-color: #ff9900;
}
#login input:-webkit-autofill {
	background-color: rgb(255,255,255) !important;	
    -webkit-box-shadow:0 0 0 50px white inset;
}
.submit_button {
	display: block;
	width: 100px;
	height: 30px;
	float: left;
	margin: 15px 0 20px 0;
	position: relative;
	border: none;
	background-color: #ca0814;
	cursor: pointer;
	font-size: 13px;
	color: #f6f6f6;
}
/* User Login */
.login_link {
	float: right;
	display: block;
	font-size: 13px;
	margin: 5px 0 0;
	text-shadow: 0 1px white;
}
.login_link a {
	padding: 0 5px;
}
.login_box img {
	float: right;
	margin: 15px 0 0 15px;
}
.login_box .user_aside {
	float: left;
	margin: 0 0 0 0;
}
.user_aside .user_name {
	font-size: 13px;
	
	padding: 3px 0;
}
.user_aside .user_name strong {
	text-shadow: 0 1px white;
}
.user_aside a {
	text-shadow: 0 1px white;
	font-size: 13px;
}
.user_aside a:hover,
.login_link a:hover {
	text-decoration: underline;
}



/* ------- Галоўная старонка ------- */

#allcontent-posts {
	background: #fff;
	padding-right: 20px;	
}

#allcontent-posts-single {
	background: #fff;
	overflow: hidden;
	width: 1220px;
	padding-left: 20px;
	border-bottom: 1px solid #eee;	
}

.full-post-content img{
	max-width: 770px;
	height: auto;	
}

.padzahalovak {
	text-transform: uppercase;
	color: #292e31;
	font-size: 20px;
 }


#allcontent-posts-2 {
	border-top: 1px solid #eee;
	padding-top: 30px;
	padding-right: 20px;
	background: #fff;
	overflow: hidden;	
}

#allcontent-posts-3 {	
	background: #fff;
	overflow: hidden;	
}


.allcontent-posts-pro {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: #fff;
	overflow: hidden;	
}


.allcontent-posts-pro-content {
	height: 270px;
	margin: 30px 40px 5px 40px;
	background: #fff;
	overflow: hidden;	
}


.allcontent-posts-pro-j {
	height: 230px;
	margin: 30px 40px 5px 40px;
	background: #fff;
	overflow: hidden;	
}


h2.main-rubryka {
	margin: 0;
	padding: 2px 0 15px 35px;
	font-size: 14px;
	font-weight: bold;
	color: #28343c;
	text-transform: uppercase;
	background: url('images/punkt1.png') no-repeat;
}


h2.main-rubryka-v {
	margin: 0;
	padding: 2px 0 10px 35px;
	font-size: 14px;
	font-weight: bold;
	color: #28343c;
	text-transform: uppercase;
	background: url('images/punkt1.png') no-repeat;
}

h2.main-rubryka-v a{
	color: #28343c;
	text-decoration: none;
}

h2.main-rubryka-v a:hover{
	color: #cf0b18;
	text-decoration: none;
}


h2.main-rubryka2 {
	margin-left: 40px;
	padding: 2px 0 15px 35px;
	font-size: 14px;
	font-weight: bold;
	color: #28343c;
	text-transform: uppercase;
	background: url('images/punkt1.png') no-repeat;
}


h2.main-rubryka3 {
	margin-top: 30px;
	padding: 3px 0 15px 35px;
	font-size: 14px;
	font-weight: bold;
	color: #28343c;
	text-transform: uppercase;
	background: url('images/punkt1.png') no-repeat;
}


h2.main-rubryka-tabs,
#culture-managment h2.main-rubryka-tabs {
	margin-top: 30px;
	padding: 3px 0 15px 35px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background: url('images/punkt1.png') no-repeat;
}

#culture-managment h2.main-rubryka-tabs,
#culture-managment h2.main-rubryka-tabs2 {
	line-height: 14px;
	margin-bottom: 0;
}

h2.main-rubryka-tabs2,
#culture-managment h2.main-rubryka-tabs2 {
	margin-top: 32px;
	margin-left: 10px;
	padding: 1px 0 15px 25px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background: url('images/red-dot.png') no-repeat;
}

h2.link-to-all-possts a{
	margin-right: 20px;
	padding: 0 0 15px 25px;
	font-size: 12px;
	background: url('images/red-dot.png') no-repeat;
	color: #28343c;
	text-decoration:none;
}

h2.link-to-all-possts a:hover{
	color: #cf0b18;
	text-decoration:none;
}
#culture-managment h2.link-to-all-possts {
	margin: 15px 0 0;
	line-height: 14px;
}

h2.main-rubryka4 {
	margin-top: 32px;
	padding: 1px 0 15px 25px;
	font-size: 14px;
	font-weight: bold;
	color: #28343c;
	text-transform: uppercase;
	background: url('images/red-dot.png') no-repeat;
}



/* ------- Слайдар ------- */

.slider-content{
        margin: 20px 0 0 38px;
	width:790px;
	float: left;	
}

.lof-slidecontent{
        position:relative;
	overflow:hidden;
	border:#fff solid 1px;
	width:790px;
	height:360px;
}
.lof-slidecontent .preload{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	color:#FFF;
	text-align:center
}
.lof-slidecontent .preload div{
	height:100%;
	width:100%;
	
}
/* main flash */
.lof-main-wapper{
	margin-right:auto;
	overflow:hidden;
	padding:0px;
	height:100%;
	width:790px;
	position:relative;	
}

.lof-main-wapper .lof-main-item{
	overflow: hidden;
	padding:0px;
	margin:0px;
	
	
}
.lof-main-wapper {
	padding:0px;	
	
}

.lof-main-item img{
	padding:0px;	
	position:absolute;
	border:#fff solid 1px;
}

.mainthumb-slider {	
}

.mainthumb-slider img{
	width: auto;
	min-height: 254px;	
}

.lof-main-item-desc{
	z-index:10;
	position:absolute;
	top:255px;
	left:0px;
	width:750px;
	font-size: 13px;
	background: #fff; 
	padding-top: 15px;
	/* filter:0.7(opacity:60) */
}
.lof-main-item-desc p{
       font-size: 13px;
	line-height: 20px;
	color:#000;
	margin:0 0px;
	padding: 0px 8px 0px 2px;
}

.lof-main-item-desc p a{
	font-size: 13px;
	color: #888;
	text-decoration:none;
}

.lof-main-item-desc p a:hover{
	color:#28343c;
	text-decoration:none;
}

.lof-main-item-desc h3 a{
	color:#000;	
	margin:0;
	font-size:20px;
	line-height: 22px;
	padding: 20px 8px 0px 8px;
	font-family: 'Lucida Grande', Arial;
	text-decoration:none;

}
.lof-main-item-desc h3 a:hover{
	color:#FF6;
	text-decoration:none;
}


/* item navigator */
ul.lof-navigator{
	top:0;
	padding:0;
	margin:0;
	position:absolute;
	width:100%;        
}

ul.lof-navigator li{
        cursor:hand; 
	cursor:pointer;
	list-style:none;
	width:100%;
        padding: 0;
	margin:0;	
	overflow:hidden;
	text-decoration:none;
}

.lof-navigator-outer{
	position:absolute;
	right:0;
	top:0px;
	z-index:65;
	height:265px;
	width:396px;
	overflow:hidden;
	color:#FFF;
	text-decoration:none;
}

.lof-navigator li.active{
	background: url(images/arrow-bg1.png) no-repeat scroll left center; 
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
}

.lof-navigator li:hover{
	font-weight:normal;
	text-decoration:none;	
}


.lof-navigator li h3{	
	color: #000;
	font-size: 16px;
	line-height: 20px;
	padding: 0 8px !important;
	margin:0;
	font-weight:normal;
	text-decoration:none;	
	vertical-align: middle;
        display: table-cell;  
}

.lof-navigator li div{
	width:360px;
	background: #f8f8f8;
	color:#000;
	height:100%;
	position:relative;
	margin-left:15px;
	padding-left:15px;
	border-top:1px solid #fff;
	font-weight:normal;
	display:table;
}

.lof-navigator li div a{
	color: #100d1c;
	text-decoration:none;
}

.lof-navigator li.active div{
	background:url(images/grad-bg1.png);
	color:#FFF;
	font-weight:normal;
}
.lof-navigator li img{
	height:60px;
	width:60px;
	margin:15px 15px 10px 0px;
	float:left;
	padding:3px;
	border:#C5C5C5 solid 1px;
}

.lof-navigator li.active img{
	border:#6C8E5C  solid 1px;
	
}

.lof-navigator li.active h3{
	color:#FFF;	
}

.lof-navigator li.active h3 a{
	color:#FFF;
	text-decoration:none;
}

.lof-next{
	position:absolute;
	top:0;
	height:30px;
	background:#F9F9F9;
	display:block;
	width:100%;
}

.lof-previous{
	position:absolute;
	bottom:0;
	height:30px;
	background:#F9F9F9;
	display:block;
	width:100%;
}


/* ------- Важнае ------- */
#featured-posts {
	width: 790px;
	height: 340px;
	margin: 15px auto 0 40px;
	padding-top: 30px;
	border-bottom: 0px solid #eee;
	border-top: 1px solid #efefef;
	overflow: hidden;
	float: left;	
}

ul#featured-posts-list { width: 820px; overflow: hidden; }
ul#featured-posts-list li { float: left; width: 182px; padding: 0 20px 0 0; }

.featured-post-image {
	position: relative; 
	float: left;
	width: 180px;
	height: 145px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;	
}

.featured-post-image img{
	width: 180px;
	height: auto;
	margin-top: -8px;
}

.featured-post-text {
	float: left;
	width: 170px;
	margin: 0;
	padding: 2px 0;
	margin-bottom: 20px;
}

h2.featured-post-title {
	font-size: 15px;
	color: #3d3d3d;
	
	line-height: 20px;
	margin-top:5px;
}

h2.featured-post-title a { color: #100d1c; text-decoration: none; }
h2.featured-post-title a:hover { color: #ca0814; text-decoration: none; }

.featured-post-except {
	font-size: 13px;
	margin-top: 5px;
	padding: 0 0 5px 0;
	color: #808080;
	line-height: 20px;
}


/* ------- Актуаліі ------- */
#aktualii {
	float: right;
	margin: 20px 20px 30px 20px;
	width: 332px;
	height: 680px;
	color: #28343c;
	padding: 0 15px 35px 0;
	background: #fff;
	border: 1px solid #efefef;
	overflow: hidden;
}
#aktualii a { text-decoration: none; }
#aktualii a:hover { color: #ca0814; text-decoration: none; }

#aktualii-kp {
	float: right;
	margin: 50px 40px 30px 20px;
	width: 305px;
	color: #28343c;
	padding: 20px;
	background: #fff;
	border: 1px dotted #efefef;
	overflow: hidden;
}
#aktualii-kp a { text-decoration: none; }
#aktualii-kp a:hover { color: #ca0814; text-decoration: none; }


#aktualii-all-lent {
	margin: 0 10px 0 30px;
	height: 694px;
	overflow: hidden;
}


ul.aktualii-content {
	margin: 0;		
}

ul.aktualii-content li ul { padding: 0 25px 0 35px; }
ul.aktualii-content li ul li { line-height: 24px; border-bottom: 1px dotted #ddd; }
ul.aktualii-content li ul li:last-child { border: 0; }


ul.aktualii-content-kp {
	margin: 10px 30px 5px 30px;
	border-bottom: 1px dotted #f6f6f6;		
}

ul.aktualii-content-kp li ul { padding: 0 25px 0 35px; }
ul.aktualii-content-kp li ul li { line-height: 24px; border-bottom: 1px dotted #ddd; }
ul.aktualii-content-kp li ul li:last-child { border: 0; }


#aktualii h2 {
	margin: 30px 0 0 0;
	padding: 2px 0 11px 35px;
	font-size: 15px;
	font-weight: bold;
	color: #28343c;
	text-transform: uppercase;
	background: url('images/punkt1.png') no-repeat;
	
}

.aktualii-title {
	margin: 0 10px 10px 0;
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	color: #28343c;	
}


.aktualii-title a{
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #28343c;
	
}


.meta-aktualii {
	font-size: 12px;
	line-height: 18px;
	padding: 0;
	margin-top: 0;
	color: #aaa;
}
.meta-aktualii a {
	color: #aaa;
	
	text-decoration: none;
}

.meta-aktualii a:hover { color: #ca0814; text-decoration: none; }

.meta-aktualii span { color: #888; }


.meta-comments-number {
	float: left;
	font-size: 10px;
	line-height: 10px;
	color: #aaa;
	margin: 11px 0 5px 0;
}
.meta-comments-number a,
#culture-managment .meta-comments-number a {
	color: #aaa;
	text-decoration: none;
	background: url('images/commentsicon.png') no-repeat;
	padding: 0 0 5px 17px;
	
}


.meta-comments-number-slider {
	position: relative;
	float: left;
	font-size: 10px;
	line-height: 10px;
	color: #aaa;
	margin: 11px 0 5px 0;
}
.meta-comments-number-slider a {
	position: relative;
	color: #aaa;
	text-decoration: none;
	background: url('images/commentsicon.png') no-repeat;
	padding: 0 0 5px 17px;
	
}



/* ------- Калумністыка ------- */


.kalumnistyka-post-text {
	float: left;
	width: 270px;
	min-height: 95px;
	margin: 0;
	padding: 2px 0;
	margin-bottom: 15px;
}



.meta-kalumnistyka-all-container {
	height: 20px;
	overflow: hidden;
}


.meta-kalumnistyka {
	font-size: 12px;
	line-height: 20px;
	margin: 0 10px 0 0;
	color: #aaa;
	
}
.meta-kalumnistyka a,
#culture-managment .meta-kalumnistyka a {
	color: #aaa;
	text-decoration: none;
}

.meta-kalumnistyka a:hover { color: #ca0814; text-decoration: none; }

.meta-kalumnistyka span { color: #888; }


#allkal-posts-slider {
	width: 785px;
	height: 498px;
	overflow: hidden;
	margin-left: 40px;
	float: left;
}


#kal-and-baner {
	width: 820px;
	overflow: hidden;
	float: left;
}

#allkal-posts-kultura {
	width: 780px;
	height: 560px;
	overflow: hidden;
	margin-left: 40px;
	float: left;
}



#allkal-posts {
	width: 800px;
	height: 480px;
	overflow: hidden;
	
}

.kal-posts-kultura {
	width: 800px;
	overflow: hidden;	
}


.kalumnistyka-main {
	width: 370px;
	margin: 0 25px 30px 0;
	overflow: hidden;
	text-align: left;
	float:left;
}


.kalumnistyka-image {
	width: 370px;
	height: 260px;
	margin-bottom: 10px;
	overflow: hidden;
	text-align: left;
	
}


.kalumnistyka-image img{
	width: 370px;
	height: auto;
	
}


h2.kalumnistyka-post-title {
	padding: 5px 0 0 0;
	font-size: 24px;
	line-height: 28px;
	color: #28343c;
	
	
}

h2.kalumnistyka-post-title a {
	color: #1c262d;
	text-decoration: none;
	
}



h2.kalumnistyka-post-title a:hover { color: #ca0814; text-decoration: none; }

.kalumnistyka-all {
	width: 390px;
	margin: 0 10px 0 0;
	overflow: hidden;
	text-align: left;
	float:left;
}


.kalumnistyka-all-kult {
	width: 390px;
	height: 115px;
	margin: 0 10px 0 0;
	overflow: hidden;
	text-align: left;
	float:left;
}


h2.kalumnistyka-all-title-kult,
#culture-managment h2.kalumnistyka-all-title-kult {
	width: 375px;
	height: 65px;
	font-size: 16px;
	font-weight: normal;
	color: #28343c;
	padding: 6px 0;
	line-height: 20px;
}
 
h2.kalumnistyka-all-title-kult a {
	color: #28343c;
	text-decoration: none;
}


h2.kalumnistyka-all-title-kult a:hover { color: #ca0814; text-decoration: none; }

.kalumnistyka-all-image {
	width: 90px;
	height: 90px;
	margin-right: 15px;
	overflow: hidden;
	text-align: left;
	float:left;
}

.kalumnistyka-all-image img{
	width: auto;
	height: 90px;	
}
#culture-managment .kalumnistyka-all-image img{
	margin: 0;
}


h2.kalumnistyka-all-title,
#culture-managment h2.kalumnistyka-all-title {
	font-size: 16px;
	font-weight: normal;
	color: #28343c;
	padding: 6px  0 0 0;
	line-height: 20px;
}
#culture-managment h2.kalumnistyka-all-title {
	margin: 0;
}
h2.kalumnistyka-all-title a,
#culture-managment h2.kalumnistyka-all-title a {
	color: #28343c;
	text-decoration: none;
}
h2.kalumnistyka-all-title a:hover,
#culture-managment h2.kalumnistyka-all-title a:hover {
	color: #ca0814;
	text-decoration: none;
}

.hr-home-post hr {
	width:790px;
	height: 1px;
	margin: 0 0 30px 38px;
	background: #eee;
	border: 0;	
}



.kultura-all-post {
	width: 830px;
	margin: 0 0 30px 10px;
	overflow: hidden;
	text-align: left;
	float:left;
	
}

.kultura-one-post {
	width: 245px;
	margin: 0 0 30px 30px;	
	float:left;
}


.archiveposts-image {
	width: 150px;
	height: 150px;
	margin-right: 25px;
	overflow: hidden;
	text-align: left;
	float:left;
}

.archiveposts-image img{
	width: auto;
	height: 150px;
	
}


/* ------- Афіша-sidebar ------- */

#all-all-sidebars {
	float: right;
	width: 288px;
}


#event-ant-player-sidebar {
	float: right;
}




.radio-player {
	width: 345px;
	margin: 0 0 0 20px;
	padding: 20px 0 20px 0;
	height: 70px;
	overflow: hidden;
	background: #fff;
	border-top: 1px solid #eeeeee;
}

.radio-player-icon {
	width: 295px;
	overflow: hidden;
	float: left;
}

.radio-player-audio {
	margin: 0 0 0 -5px;
	overflow: hidden;
	
}


#event-sidebar {
	
	margin: 0 20px 25px 20px;
	padding: 0 30px;
	width: 288px;
	height: 438px;
	overflow: hidden;
	color: #ca0814;
	padding-bottom: 35px;
	background: #f9f9f9;
	font-size: 13px;
	line-height: 19px;
	border: 0px solid #eeeeee;
}



#event-sidebar a { color: #28343c; text-decoration: none; }
#event-sidebar a:hover { color: #ca0814; text-decoration: none; }

ul.event-sidebar-content {
	
}
ul.event-sidebar-content li ul { padding: 5px 35px 0 35px; }
ul.event-sidebar-content li ul li { line-height: 24px; padding: 3px 0; border-bottom: 1px dotted #ddd; }
ul.event-sidebar-content li ul li:last-child { border: 0; }

#event-sidebar h2 {
	margin: 30px 0 15px 0;
	padding: 2px 0 20px 35px;
	font-size: 15px;
	font-weight: bold;
	color: #28343c;
	text-transform: uppercase;
	background: url('images/punkt1.png') no-repeat;
}



#event-sidebar-insingle {
	float: right;
	margin: 0 20px 25px 20px;
	padding: 0 30px;
	width: 288px;
	
	overflow: hidden;
	color: #ca0814;
	padding-bottom: 35px;
	background: #f9f9f9;
	font-size: 13px;
	line-height: 19px;
	border: 0px solid #eeeeee;
}


#event-sidebar-insingle a { color: #28343c; text-decoration: none; }
#event-sidebar-insingle a:hover { color: #ca0814; text-decoration: none; }

#event-sidebar-insingle h2 {
	margin: 30px 0 15px 0;
	padding: 2px 0 20px 35px;
	font-size: 15px;
	font-weight: bold;
	color: #28343c;
	text-transform: uppercase;
	background: url('images/punkt1.png') no-repeat;
}

/* ------- Фотарэпартажы ------- */
#fota-posts {
	width: 790px;
	height: 320px;
	margin: 0 auto 0 40px;
	overflow: hidden;
	float: left;	
}


/* ------- Відэа ------- */

#allslidesvideo-main-posts {
	width: 345px;
	height: 320px;
	margin: 0 20px 0 0;
	float: right;
	overflow: hidden;
}

#allslidesvideo-main-posts a{
	font-size: 12px;
        text-align: left !important;
        text-decoration: none;
        color: #28343c;
	line-height: 20px;
}

#allslidesvideo-main-posts center{
	padding-top: 8px;
}


.video-main-posts {
	width: 385px;
	height: 300px;
	border: 0px solid #eee;	
	overflow: hidden;
	text-align: left;
}


.video-main-posts h2 {
	display:none;
}

ul.video-main-posts {
	text-align: left;
	margin-left: -40px;
}
ul.video-main-posts li ul { padding: 0; }
ul.video-main-posts li ul li { line-height: 24px; padding: 0;}
ul.video-main-posts li ul li:last-child { border: 0; }



.hr-line-full {
	width: 1162px;
	height: 1px;
	margin: 0 0 30px 38px;
	background: #eee;
	border: 0;
	overflow: hidden;	
}





/* ------- Навіны краіны ------- */

.kraina-all {
	width: 540px;
	margin: 0 30px 30px 40px;
	overflow: hidden;
	text-align: left;
	float:left;
}



/* ------- Комікс ------- */

.komiks-img img{
	width: 100%;
	height: auto;
	margin-bottom: 20px;	
}


h2.komiks-post-title {
	padding: 5px 0 0 0;
	font-size: 19px;
	line-height: 24px;
	color: #28343c;		
}

h2.komiks-post-title a {
	color: #1c262d;
	text-decoration: none;	
}


h2.komiks-post-title a:hover { color: #ca0814; text-decoration: none; }




/* ------- Content ------- */

#content {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	float: left;
	
}


/* ------- Posts ------- */

#posts {
	float: left;
	width: 770px;
	margin-left: 10px;
}

/* --- single-post --- */
.single-post {
	width: 770px;
	margin: 0;
	padding: 0 10px 25px 10px;
	border-bottom: 1px solid #eee;
}

.single-post-image {
	float: left;
	margin-top: 35px;
	overflow: hidden;
}

.single-post-text {
	float: left;
	margin-top: 25px;
}
.single-post-text h2 {
	font-size: 22px;
	color: #28343c;
	line-height: 30px;
}
.single-post-text h2 a { color: #28343c; text-decoration: none; }
.single-post-text h2 a:hover { color: #ca0814; text-decoration: none; }

.meta {
	float: right;
	width: 170px;
	margin-top: 15px;
	padding-left: 15px;
	color: #aaa;
	line-height: 24px;
	border-left: 1px solid #eee;
}
.meta span { color: #888; }
.meta a { color: #ca0814; text-decoration: none; }
.meta a:hover { color: #888; text-decoration: none; }

.single-post-content {
	float: left;
	width: 770px;
	margin-top: 15px;
	color: #888;
	line-height: 20px;
}

.posts-navigation {
	width: 770px;
	margin: 22px 10px;
	color: #888;
}
.posts-navigation a { color: #888; text-decoration: none; }
.posts-navigation a:hover { color: #ca0814; text-decoration: none; }

.posts-navigation-next {
	float: right;
	width: 200px;
	text-align: right;
}

.posts-navigation-prev {
	float: left;
	width: 200px;
}

/* --- search-results --- */
.search-results {
	width: 770px;
	margin-top: 20px;
	padding: 13px 10px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
.search-results h2 { font-size: 20px; font-weight: normal; color: #3d3d3d; line-height: 30px; }

/* --- full-post --- */
.full-post {
	width: 770px;
	margin: 30px 0 0 0;
	padding: 0 10px 15px 10px;
	color: #25292c;
	line-height: 20px;
}

.hr-full-post hr {
	width:100%;
	height: 1px;
	margin: 0 auto;
	background: #eee;
	border: 0;	
}

.full-post a { color: #ca0814; text-decoration: none; }
.full-post a:hover { color: #888; text-decoration: none; }

.full-post h1 { font-size: 28px; font-weight: normal; color: #25292c; line-height: 32px; margin: 10px 0 5px 0; }
.full-post h2 { font-size: 24px; font-weight: normal; color: #25292c; line-height: 30px; margin: 10px 0 5px 0; }
.full-post h3 { font-size: 20px; font-weight: normal; color: #25292c; line-height: 24px; margin: 10px 0 5px 0; }
.full-post h4 { font-size: 17px; font-weight: normal; color: #25292c; line-height: 22px; margin: 10px 0 5px 0; }
.full-post h5 { font-size: 12px; font-weight: normal; color: #3d3d3d; line-height: 20px; margin: 10px 0 5px 0; }
.full-post h6 { font-size: 10px; font-weight: normal; color: #3d3d3d; line-height: 18px; margin: 10px 0 5px 0; }

.full-post h1 a,
.full-post h2 a,
.full-post h3 a,
.full-post h4 a,
.full-post h5 a,
.full-post h6 a {
	color: #3d3d3d; text-decoration: none;
}
.full-post h1 a:hover,
.full-post h2 a:hover,
.full-post h3 a:hover,
.full-post h4 a:hover,
.full-post h5 a:hover,
.full-post h6 a:hover {
	color: #ca0814; text-decoration: none;
}

.full-post h2.full-post-title { border-bottom: 1px solid #eee;  padding-bottom:15px; font-size: 23px; font-weight: bold; line-height: 32px; }

.full-post img { margin: 6px 0; overflow: hidden; }

.full-post-content { margin: 5px 0 0 0; overflow: hidden;}

.meta-full-post {
	padding: 5px 0 15px 0;
	color: #aaa;
}
.meta-full-post span { color: #888; }


.meta-full-post-archive {
	padding: 5px 0 5px 0;
	color: #aaa;
}

.meta-full-post-archive a{
	color: #888;
	text-decoration: none;
}

.meta-full-post-archive a:hover{
	color: #ca0814;
}

.meta-full-post-archive span { color: #888; }

.full-post-pages { margin-bottom: 10px; }

.full-post .alignleft { float: left; margin: 6px 15px 6px 0; }
.full-post .alignright { float: right; margin: 6px 0 6px 15px; }
.full-post .aligncenter { margin: 6px auto; display: block; }

.full-post p { padding: 3px 0; }

.full-post table { margin: 10px 0; }
.full-post table caption { background: #eeeeee; }
.full-post table td, .full-post table th { padding: 0 12px 0 0; text-align: right; }

.full-post blockquote { padding: 5px 35px; }

.full-post ul { padding: 5px 35px; list-style-type: square; }
.full-post ol { padding: 5px 35px; list-style-type: decimal; }






/* ------- Папярэджанне ------- */

.warningtext {
	margin: 20px 0;
	color: #7b7373;
	padding: 20px;
	border: 1px dotted #b5b5b5;
	overflow: hidden;
	font-style: italic;
	text-align: center;
}





/* ------- Sidebar ------- */

#sidebar {
	float: right;
	width: 395px;
	color: #888888;
	padding-bottom: 35px;
}
#sidebar a { color: #888888; text-decoration: none; }
#sidebar a:hover { color: #ca0814; text-decoration: none; }

ul.sidebar-content {
	width: 375px;
}
ul.sidebar-content li ul { padding: 5px 25px 0 35px; }
ul.sidebar-content li ul li { line-height: 24px; padding: 3px 0; border-bottom: 1px dotted #ddd; }
ul.sidebar-content li ul li:last-child { border: 0; }

#sidebar h2 {
	margin-top: 20px;
	padding: 0 0 10px 35px;
	font-size: 13px;
	font-weight: bold;
	color: #3d3d3d;
	text-transform: uppercase;
}


/* ------- Пошук ------- */
.headersearch-form {
	margin: 34px 25px 0 5px;
	float: right;
}
.headersearch-form form input.searchfield {
	width: 189px;
	height: 30px;
	padding: 0 25px 0 10px;
	font-family: 'Lucida Grande', sans-serif;
	font-size: 12px;
	color: #aaaaaa;
	line-height: 20px;
	
	border: 1px solid #eee;
	background: url('images/search.gif') right no-repeat;
}



.search-form {
	margin: 30px 0 0 35px;
}
.search-form form input.searchfield {
	width: 230px;
	height: 30px;
	padding: 0 5px;
	font-family: 'Lucida Grande', sans-serif;
	font-size: 12px;
	color: #aaaaaa;
	line-height: 20px;
	background: #ffffff;
	border: 1px solid #eee;
}

.sidebar-ads { width: 290px; }
.sidebar-ads-wrap { padding: 15px 0 0 35px; }

.tagcloud { padding: 10px 25px 0 35px; }

.textwidget { padding: 5px 25px 0 35px; line-height: 24px; }
.textwidget a { border-bottom: 1px dotted #ddd; }

#calendar_wrap { padding: 15px 25px 0 35px; line-height: 24px; }
#calendar_wrap a { border-bottom: 1px dotted #ddd; }
#calendar_wrap caption { background: #eee; }
#calendar_wrap td, #calendar_wrap th { padding: 0 12px 0 0; text-align: right; }
#calendar_wrap td#prev { text-align: left; }


/* ------- Footer ------- */

#footer {
	min-width: 1200px;
	margin: 0 auto;
	padding-bottom: 20px;
	background: #f9f9f9;
	color: #444444;
	text-align: center;
	overflow: hidden;
	font-size: 13px;
}

.footer-inside {
	width: 100%;
	height: 283px;
	overflow: hidden;
	padding: 0 20px 0 30px;
	margin: 0 auto;
	text-align: left;
	
}

#footer a { color: #444444; text-decoration: none; }
#footer a:hover { color: #ca0814; text-decoration: none; }

#footer p { margin-top: 10px; line-height: 24px; }

.subscribe {
	float: left;
	width: 305px;
	height: 290px;
	margin: 0 0 0 30px;
	overflow: hidden;
}
.subscribe input.enteremail { width: 180px; height: 30px; margin-top: 10px; padding: 0 5px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 12px; color: #555; line-height: 20px; background: #1d1d1d; border: 1px solid #3d3d3d; vertical-align: middle; }

.subscribe input.formsubmit { margin-top: 10px; padding: 5px 10px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 12px; color: #f7f7f7; line-height: 16px; background: #ca0814; border: none; vertical-align: middle; }

.subscribe-facebook {
	margin: -2px 0 0 -2px;
	width: 260px;
	height: 200px;
	overflow: hidden;
}

.latest-tweets {
	float: left;
	width: 220px;
	margin: 30px 20px 0 30px;
}

.latest-tweets ul {
	line-height: 20px;
}

.latest-tweets ul li{
	margin-bottom: 6px;
}

.about-us {
	float: left;
	width: 250px;
	margin: 30px 20px 0 10px;
}

.about-us ul {
	line-height: 20px;	
}

.about-us ul li{
	margin-bottom: 6px;
}

#footer-credits {
	min-width: 1200px;
	margin: 0 auto;
	height: 38px;
	overflow: hidden;
	font-family: 'Lucida Grande', sans-serif;
	background: #fff url('images/razam.png') left bottom no-repeat;
}

.footer-credits-inside {
	width: 1200px;
	margin: 0 auto;
	font-size: 13px;
	font-weight: normal;
	color: #3d3d3d;
}
#footer-credits a { color: #555555; text-decoration: none; }
#footer-credits a:hover { color: #3d3d3d; text-decoration: none; }

.footer-credits-left { width: 1100px; float: left; font-size: 11px; line-height: 19px; color: #aaaaaa; padding: 20px 10px; overflow: hidden;}
.footer-credits-left a{ color: #bababa; text-decoration: none; }
.footer-credits-left a:hover { color: #ca0814; text-decoration: none; }

.footer-credits-right { float: left; width: 100px; margin-left: -50px; padding: 20px 0; overflow: hidden;}


/* ------- Каментары ------ */

#comments-wrap {
	margin: 25px 0 0 0;
	padding-bottom: 30px;
}

.comments-navigation {
	margin: 0; font-size: 12px;
}
.comments-navigation a { margin-top: 10px; }

.comments-navigation .alignleft {
	float: left; margin: 0; padding: 0;
}

.comments-navigation .alignright {
	float: right; margin: 0; padding: 0;
}

h3#comments-number, h3.postcomment {
	padding-bottom: 0;
	font-size: 18px;
	color: #3d3d3d;
	line-height: 30px;
}

ol.commentlist { list-style:none; margin:20px 0 0 0; padding:0; text-indent:0; }
ol.commentlist li { border:1px solid #f7f7f7; height:1%; margin:0 0 10px 0; padding:10px 10px 7px 57px; position:relative; }

ol.commentlist li.alt { }
ol.commentlist li.bypostauthor { }
ol.commentlist li.byuser { }
ol.commentlist li.comment-author-admin { }
ol.commentlist li.comment { }

ol.commentlist li div.comment-author { padding:0 170px 0 0; }
ol.commentlist li div.vcard { font: bold 12px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; line-height: 24px; padding-bottom: 5px; }

ol.commentlist li div.vcard cite.fn { font-style:normal; }
ol.commentlist li div.vcard cite.fn a.url { }
ol.commentlist li div.vcard cite.fn a.url:hover { }
ol.commentlist li div.vcard img.avatar { border:1px solid #f7f7f7; left:10px; position:absolute; top:10px; padding: 2px; }

ol.commentlist li div.vcard img.avatar-32 { }
ol.commentlist li div.vcard img.photo { }
ol.commentlist li div.vcard span.says { }
ol.commentlist li div.commentmetadata { }

ol.commentlist li div.comment-meta { font: normal 12px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; line-height: 24px; position:absolute; right:10px; text-align: right; top: 10px; }
ol.commentlist li div.comment-meta a { color:#aaaaaa; text-decoration:none; }
ol.commentlist li div.comment-meta a:hover { color:#ca0814; text-decoration:none; }
ol.commentlist li p { font: normal 12px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; line-height: 24px; margin:0 0 1em 0; }
ol.commentlist li form p { margin: 0; }

ol.commentlist li ul { font:normal 12px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; list-style:square; line-height: 24px; margin:0 0 1em; padding:0; text-indent:0; }
ol.commentlist li div.reply { font-size: 12px; }
ol.commentlist li div.reply:hover { }
ol.commentlist li div.reply a { }
ol.commentlist li ul.children { list-style:none; margin:1em 0 0; text-indent:0; }

ol.commentlist li ul.children li {  }
ol.commentlist li ul.children li.alt { }
ol.commentlist li ul.children li.bypostauthor { }
ol.commentlist li ul.children li.byuser { }
ol.commentlist li ul.children li.comment { }
ol.commentlist li ul.children li.comment-author-admin { }

ol.commentlist li ul.children li.depth-2 { margin:0 0 8px; }
ol.commentlist li ul.children li.depth-3 { margin:0 0 8px; }
ol.commentlist li ul.children li.depth-4 { margin:0 0 8px; }

ol.commentlist li ul.children li.depth-5 { }
ol.commentlist li ul.children li.odd { }
ol.commentlist li.even { }
ol.commentlist li.odd { }
ol.commentlist li.parent { }
ol.commentlist li.pingback { }
ol.commentlist li.pingback.parent { }

ol.commentlist li.pingback div.vcard { padding:0 170px 0 0; }

ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even { }
ol.commentlist li.thread-odd { }

h3#respond {
	padding-bottom: 0;
	font-size: 18px;
	color: #3d3d3d;
	line-height: 30px;
}

#respond {
	padding: 25px 0 0 0;
}


#comments p.nocomments {
	padding: 0;
}

form#commentform input {
	margin-top: 10px; padding: 0 5px; width: 260px; height: 30px; background: #ffffff; border: 1px solid #eee;
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 12px; color: #aaaaaa; line-height: 20px;
}

form#commentform textarea {
	margin-top: 10px; padding: 5px; width: 340px; background: #ffffff; border: 1px solid #eee; overflow: auto;
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 12px; color: #aaaaaa; line-height: 20px;
}

form#commentform input#submit {
	width: 150px; background: #f7f7f7; color: #888888;
}



/* ------- Кантэнт-слайдар ------ */
.jquery-slider,
.jquery-slider * { 
}
.jquery-slider {
    
    position: relative;
}
.jquery-slider-element {
    overflow: hidden;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.jquery-slider-control {
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 0;
    font-weight: bold;
    padding: 0;
    margin: 0;
    border: 0px solid #666;
    opacity: 0.33;
    cursor: pointer;
    
}
.jquery-slider-control:hover {
    opacity: 1;
}
.jquery-slider-control-prev {
    right: 20px;
    top: -32px;
	background: url('images/prev.png') no-repeat center; 
}
.jquery-slider-control-next {
    right: 0;
    top: -32px;
	background: url('images/next.png') no-repeat center;
	
}
.jquery-slider-pages {
    overflow: visible;
    position: absolute;
    right: 50px;
    top: -27px;
    height: 20px;
    
}
.jquery-slider-page {
    overflow: hidden;
    position: relative;
    display: block;
    float: right;
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 0;
    background: #b5b5b5;
     cursor: pointer;
    margin: 3px;
    border-radius: 6px;
    
}
.jquery-slider-page:hover {
     background: #cf0b18;
}
.jquery-slider-page-current {
    background: #cf0b18;
}

#slider {	   
    border: 0px solid #ccc;
}


.pro-icons {  
	overflow: hidden;
	width: 1240px;
	height: 250px;
}


.pro-images {  
	float: left;
	margin-right: 25px;
	overflow: hidden;	
}



/* ------- Таб-слайдар ------ */

.section {
	width: 100%;
	margin: 0;
	overflow: hidden;
}
ul.tabs {
	width: 100%;
	list-style: none;
	overflow: hidden;
}
#culture-managment ul.tabs {
	padding: 0;
}
.tabs li {
	float: left;
	display: inline;
	margin: 0 1px 1px 0;
	padding: 0;
	color: #777;
	cursor: pointer;
	position: relative;
}
#culture-managment .tabs li h2 {
	color: #777;
}
.tabs li:hover,
.vertical .tabs li:hover {
	color: #ca0814;
	padding: 0;
}
.tabs li.current {
	color: #28343c;
	padding: 0;
}
#culture-managment .tabs li.current h2 {
	color: #28343c;
}
.box {
	display: none;
  border-width: 0 1px 1px;
	padding: 0;
}
.box.visible {
	display: block;
}




/* ------- Пэўныя стылі Wordpress ------ */

.wp-caption {
   border: 0px solid #ddd;
   text-align: left;
   background-color: #fff;
   padding-top: 0px;
   margin: 0 0 10px 0;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 0px;
   -khtml-border-radius: 0px;
   -webkit-border-radius: 0px;
   border-radius: 0px;
	}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
	}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 5px 0px 5px 0;
   margin: 0;
	}

blockquote {
	overflow: hidden;
	padding-left: 9px;
	font-style: italic;
	color: #757575;
	border-left: 3px solid #e1e1e1;
	}


.meta_categories0 {
	font-size:0px;
	float: left;
	margin: 9px 0 10px 10px;
}
#culture-managment .meta_categories0 img {
	margin: 0;
}
.meta_categories0-slider {
	font-size:0px;
	float: left;
	margin: 9px 0 10px 10px;
}


.meta_categories16 {
	width: 21px;
	height:11px;
	margin-right: 3px;
	font-size:0px;
	background: url(images/videoicon.png);
	overflow: hidden;
}


.recents {
	overflow: hidden;
	margin: 20px 0 20px 0;
	padding: 10px 0 40px 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.padobnyja-posts-list { float: left; width: 172px; overflow: hidden; padding: 0 10px 0 10px; }

h2.padobnyja-posts-list { width: 162px; font-size: 15px; line-height:20px; padding: 5px 0 0 0;}

.padobnyja-posts-image { width: 170px; height: 140px; overflow: hidden; }
.padobnyja-posts-image img{ min-width: 170px; height: auto;}


.main-rubryka-padobnyja {
	margin: 15px 0 10px 12px;
	padding: 2px 0 5px 35px;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #28343c;
	text-transform: uppercase;
	background: url('images/punkt1.png') no-repeat;
}




.afisa-content{
    float:right;
	width: 350px;	
  }




.afisha-vidget{
    margin-top: -23px;
	
  }
   
  /* sidebar2-afisha  заголовок для афиши */
 .eventsListWidget h2{  
      
    background:#ca0814;
    background-image: url(img/punkt.jpg);
    background-repeat: no-repeat;
    background-position: 6px center;
    color:#fff;
    padding:3px 20px;
    font:bold 14px Arial;
    width: 50px;   
	height: 50px
 } 
       
    .upcoming{        
        border:1px solid #d4d2d2;        
        padding: 7px 5px 30px 22px;    
	    
    }      
   
    .upcoming li{
        margin: 6px 0;
        list-style-type: square;    
	
        color: #ca0814;       
    }  







.afisa-content ul{
        list-style-type: none;        
        
    }
   
    .afisa-content ul li a{
	
        font: 13px Arial;
        color: #000;
        text-decoration: none;
        
        }
        .afisa-content ul li a:hover{        
        color: #ca0813;        
        }  



.afisa-content li {
	margin-top: -25px;
    list-style-type: none;
    }





.sidebar #categoryposts-8 h2{
    background:#c2c1c1;
    background-image: url(img/punkt1.jpg);
    background-repeat: no-repeat;
    background-position: 6px center;
    color:#fff;
    padding:3px 30px;
    font:bold 14px Arial;   
    width: 294px;
    margin-left: -4px;
    margin-top: -8px; 
     }  
 
   #categoryposts-8 ul{
    padding: 4px;    
   }   




.when{
  height: 15px; 
  background: #fff;
  font-weight: 700;
  float: left; 
}

.tire{
   position: relative; 
   float: left; 
   background: #fff;
   padding: 0 0 0 4px;
   font-weight: 700;
}

.event-budzma{
    float: left;
    padding: 0 5px 0 3px;
    margin-top: 3px;
    position: relative;
}

.event {
  /*  position: relative; */    
    text-decoration: underline;     
    margin-bottom: -12px;   
    color: #000;   
}

.event a{  
background: #fff;
color: #000;
}

.event:hover{    
 text-decoration: none; 
}
/* конец убираем время с виджета */     
                
     /* усе падзеи */
        .dig-in{
            text-align: right;
            margin-top: -26px;
            margin-left: 24px;
            margin-right: 24px;
            font-weight: bold;   
            margin-bottom: 12px;         
        }


#vk_like{
	float: left;
	padding-bottom: 20px;
}

.fb-like{
	float: left;
	margin-left: 1px;
	padding-bottom: 20px;
}

.twitter-share-button{
	float: left;
	margin-left: 15px;
	padding-bottom: 20px;
}

.metrika {
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#culture-slider {
	margin-left: 40px;
	margin-bottom: 30px;
	width:790px;
	float: left;
}
#culture-slider .slider-content {
	margin: 0;
}
#culture-categories {
	margin: 0 20px;
	height: 395px;
	overflow: hidden;
	float: right;
	padding-right: 15px;
	width: 332px;
}
.culture-title a{
	font-size: 18px;
	line-height: 24px;
}
#culture-categories .kalumnistyka-post-text {
	height: 78px;
	min-height: 80px;
	padding-top: 10px;
	padding-right: 10px;
	width: 185px;
}
#culture-categories .kalumnistyka-all-image {
	margin-left: 30px;
}
h2.main-rubryka-mleft {
	margin-left: 40px;
}
#culture-managment #allkal-posts-kultura {
	margin-left: 0;
}